#content table.image {
	display: none;
}

.photo_type {
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
	margin-top: 15px;
	text-align: center;
	background: #efefef;
	width: 100%;
}

.photo_type .des {
	background: #666;
	padding: 10px;
	color: #fff;
	font-family: Arial;
	font-size: 14px !important;
}
#content .photo_type .des a.find {
	color: #00F;
}
.photo_type .image img {
    display: block;
    margin: 0 auto;
    max-height: 500px;
    max-width: 100%;
}
.photo_type .prev, .photo_type .next {
	display: block;
	position: absolute;
	width: 37px;
	height: 100%;
	z-index: 2;
	top: 0;
	opacity: 0.9;
	cursor: pointer;
}
.photo_type .prev {
	background: url(../image/arrow.left.png) no-repeat right center;
}
.photo_type .next {
	background: url(../image/arrow.right.png) no-repeat right center;
	right: 0;
}
.photo_type .prev:hover, .photo_type .next:hover {
	opacity: 1;
}
#fullscreen {
	background: url(../image/fullscreen.png) no-repeat;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 13px;
	height: 13px;
	cursor: pointer;
	z-index: 9;
}
.photo_type .facebook {
	background: url(../image/tinanh_share_fb.png) no-repeat;
	display: block;
	width: 90px;
	height: 25px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
}

#related-news-tinanh {
	border: 1px solid #ccc;
}

#related-news-tinanh .item img {
	width: 100%;
	margin-bottom: 5px;
}

#related-news-tinanh .item .title {
	color: #333;
	font-style: italic;
	font-size: 17px;
}
#related-news-tinanh .item p {
	padding: 0 10px;
}
#related-news-tinanh .item {
	margin-bottom: 10px;
}

#related-news-tinanh {
	margin-bottom: 15px;
	background: #f7f7f7;
}
#related-news-tinanh .box-title {
	padding: 5px ;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}

.other_tinanh .first img {
	max-width: 100%;
}
.other_tinanh .first {
	text-align: center;
	background: #efefef;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.other_tinanh .first .image {
	display: block;
	max-height: 600px;
	overflow: hidden; 
	margin-bottom: 5px;
}

.others .list-full-5 a.avatar img {
    height: 100px;
}

table.lastest-news{font:normal 13px/20px 'Vedanar, Arial'}table.lastest-news{width:300px;margin-bottom:14px;background:#ffb;border-collapse:collapse;border-bottom:1px solid #000;font:normal 14px/20px 'Time News Roman'}table.lastest-news td{padding:5px 10px;text-align:left}table.lastest-news tr{border-bottom:1px dotted #999}table.lastest-news tr:first-child{border-bottom:2px solid}table.lastest-news tr:last-child{border-bottom:0}table.lastest-news .box-title{text-transform:uppercase;letter-spacing:-0.1px;color:#000;font-weight:bold}table.lastest-news .sub-title{margin-right:5px;color:#b71031;font-weight:normal;font-size:12px;text-transform:uppercase}table.lastest-news .lead{margin-left:5px;font-weight:normal;display:none}
.tin-anh .back-color{background-color: #f18d05}
#page-nav .tin-anh .text-color, #header .tin-anh .text-color {
	color: #f18d05;
}

.photo_type .page_number {
	position: absolute;
	bottom: 5px;
	right: 10px;
	color: #f18d05;
}

#photo_type_content .image {
	position: relative;
	max-height: 500px;
	min-height: 300px;
	max-width: 680px;
}

.carousel img {
	width: 100%;
}

.list_thumbnail {
	background: #5e5e5e;
	padding: 4px 12px 12px 12px;
	margin-top: 1px;
}

.photo_type .list_thumbnail .carousel ul li {
	float: left;
	height: 82px;
	width: 110px;
	margin-right: 12px;
	cursor: pointer;
	overflow: hidden;
	padding-top: 8px;
}

.photo_type .list_thumbnail .carousel ul li a {
	display: block;
	height: 82px;
}

.photo_type .list_thumbnail .carousel {
	position: relative;
	height: 92px;
	overflow: hidden;
	margin: 0 auto;
}

.photo_type .list_thumbnail .carousel ul {
	position: relative;
}

.photo_type .list_thumbnail .carousel ul li.active a {
	border: 3px solid #ffd368;
	height: 76px;
	overflow: hidden;
}

.photo_type .list_thumbnail .carousel ul li.active {
	background: url(../image/slideshow_arrow.png) no-repeat center top;
}