<template>
    <div class="row">
        <modal style="top: 50px" transition="nice-modal-fade"
               :scrollable="true"
               :pivot-y="0.5"
               width="60%"
               height="auto"
               :adaptive="true"
               name="modal-upload-media"
               @shown="">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-plus-square"></i> Tải lên thư viện
                    </h3>
                </div>
                <div class="box-body">
                    <dropzone id="vueDropzone" ref="vueDropzone" url="/api/media" :headers="custom_headers"
                              :thumbnailHeight=120
                              :thumbnailWidth=120 :useFontAwesome=true :maxNumberOfFiles=20 :maxFileSizeInMB=128
                              :timeout=300000
                              :resizeWidth=1024 :acceptedFileTypes="'image/*,video/mp4'">
                    </dropzone>
                    <span class="text-danger">
                         <i class="fa fa-info"></i>
                        Chỉ cho phép upload các định dạng sau: Ảnh: (png, jpg, jpeg). Video (mp4)
                    </span>
                    <div class="box-footer">
                        <button @click="fetch('/api/media')" type="submit" class="btn btn-success btn-flat pull-right">
                            <span> Ok</span>
                        </button>
                        <button v-on:click.prevent="setNullQuestion" type="reset"
                                class="btn btn-danger btn-flat pull-left">
                            <span>Hủy</span>
                        </button>
                    </div>
                </div>
            </div>


        </modal>
        <div class="col-xs-8">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <input type="text" placeholder="Tên ảnh/video" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <select class="form-control">
                                <option v-for="item in media_type" v-bind:value="item.value">{{ item.text}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <button @click="show()" class="btn btn-block btn-danger">
                                <i class="fa fa-cloud-upload"></i> Upload
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="row">
                    <div v-for="(item, idx) in params.data.data" class="text-center item-media col-md-3">
                        <img :title="item.alt" :alt="item.alt"
                             v-bind:src="item.thumbnail ? item.thumbnail : '/img/placeholder_640x360.jpg'"
                             v-model="params.data.data[idx]"
                             v-bind:class="hasSelect(item) !== -1 ? 'img-fluid item-selected' : 'img-fluid'"
                             v-on:click="selectImage(item, $event)"/>

                        <template v-if="item.media_type === 'video'">
                                <span class="play-icon">
                                    <i class="fa fa-4x fa-play-circle-o"></i>
                                </span>
                        </template>
                        <button v-if="hasSelect(item) !== -1" type="button" class="button-link check" tabindex="0"
                                v-model="params.data.data[idx]" v-on:click="selectImage(item, $event)">
                                <span class="media-icon">
                                    <i ref="checkIcon" class="fa fa-check" style="color: #fff !important;"></i>
                                </span>
                        </button>
                    </div>
                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div class="col-md-4" ref="edit-item">
            <div class="row">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">THÔNG TIN CHI TIẾT</h3>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <template v-if="editMedia.media_type === 'image'">
                                <img v-bind:src="this.getImageBySize(editMedia.file_url, '640x360')"
                                     class="img-fluid"/>
                            </template>
                            <template v-else-if="editMedia.media_type === 'video'">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video controls autoplay
                                           v-bind:poster="this.getImageBySize(editMedia.file_url, '640x360')"
                                           id="index-video" class="embed-responsive-item">
                                        <source v-bind:src="editMedia.file_url" type="video/mp4">
                                    </video>
                                </div>
                            </template>
                            <template v-else>
                                <img src="/img/placeholder_640x360.jpg" class="img-fluid"/>
                            </template>
                        </div>
                        <template>
                            <div class="col-md-3 text-center">
                                <i class="fa fa-television"></i>
                                <br/>
                                <small>{{ editMedia.width ? editMedia.width + 'x' + editMedia.height : '' }}
                                </small>
                            </div>
                            <div class="col-md-3 text-center">
                                <i class="fa fa-info"></i>
                                <br/>
                                <small>{{ this.humanFileSize(editMedia.file_size) }}</small>
                            </div>
                            <div class="col-md-4 text-center">
                                <i class="fa fa-calendar-check-o"></i>
                                <br/>
                                <small>{{ editMedia.created_at }}</small>
                            </div>
                            <div class="col-md-2 text-center">
                                <i class="fa fa-user"></i>
                                <br/>
                                <small>{{ editMedia.user_name }}</small>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                    <form class="form-horizontal" @submit.stop.prevent="updateMedia">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="hf-name">Tiêu đề</label>
                            <div class="col-md-9">
                                <input type="text" v-model="editMedia.name" id="hf-name" name="hf-name"
                                       class="form-control" placeholder="Tiêu đề ảnh..">
                            </div>
                        </div>
                        <div v-if="editMedia.media_type === 'video'" class="form-group row">
                            <label class="col-md-3 form-control-label" for="hf-alt">Ảnh Poster</label>
                            <div class="col-md-9">
                                <input type="text" v-model="editMedia.thumbnail" id="img_poster" name="img_poster"
                                       class="form-control" placeholder="Ảnh poster..">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="hf-alt">Thẻ alt</label>
                            <div class="col-md-9">
                                <input type="text" v-model="editMedia.alt" id="hf-alt" name="hf-alt"
                                       class="form-control" placeholder="Thẻ alt ảnh..">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="hf-caption">Mô tả</label>
                            <div class="col-md-9">
                                <input type="text" v-model="editMedia.caption" id="hf-caption" name="hf-caption"
                                       class="form-control" placeholder="Mô tả về ảnh..">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" v-on:click="updateMedia()">
                            <i class="fa fa-save"></i> Cập nhật
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <template v-if="select_thumbnail !== ''">
                            <button class="btn btn-block btn-danger pull-right" @click="selectMedia">
                                Chọn ảnh
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                        </template>
                        <template v-else>
                            <button class="pull-right btn btn-block btn-danger" @click="selectMedia">
                                Chọn ảnh
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Dropzone from 'vue2-dropzone';

    export default {
        props: {
            select_thumbnail: {
                // required: false,
                // type: Boolean
            },
            is_modal: {
                required: false,
                type: Boolean
            }
        },
        components: {
            Dropzone
        },
        data() {
            return {
                params: {
                    data: ""
                },
                search: {
                    name: "",
                    per_page: 10
                },
                media: {},
                pagination: '',
                media_type: [
                    {text: 'Vui lòng chọn', value: ''},
                    {text: 'Ảnh', value: 'image'},
                    {text: 'Video', value: 'video'}
                ],
                userID: window.TraiThiVang.user.id,
                selectedImage: [],
                editMedia: {},
                offset: 2,
                custom_headers: {
                    'Authorization': 'Bearer ' + window.TraiThiVang.user.api_token,
                    'AuthenticatedUser': window.TraiThiVang.user.id
                },
            }
        },

        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },

        mounted() {
            this.fetch('/api/media');
            // this.fetchCategory('/api/list-category');
        },
        methods: {
            show() {
                this.$modal.show('modal-upload-media');
            },
            hide() {
                this.$modal.hide('modal-upload-media');
            },
            openUploadMedia: function () {
                // window.axios.get('/api/set-session/' + (this.category_id === '' ? 'no' : this.category_id)).then();
                this.$root.$emit('show::modal', 'modal-upload-media');
            },
            fetchCategory: function (url) {
                window.axios.get(url).then(response => this.categories = response.data.data)
            },
            viewImage: function () {
                this.closeLogo.url_image = this.editMedia.file_url;
                if (this.closeLogo.location == 'upperLeft') {
                    watermarkjs([this.closeLogo.url_image, this.closeLogo.url_logo])
                        .image(watermarkjs.image.upperLeft())
                        .then(function (img) {
                            document.getElementById('composite-image').innerHTML = '';
                            document.getElementById('composite-image').appendChild(img);
                        });
                }
                if (this.closeLogo.location == 'upperRight') {
                    watermarkjs([this.closeLogo.url_image, this.closeLogo.url_logo])
                        .image(watermarkjs.image.upperRight())
                        .then(function (img) {
                            document.getElementById('composite-image').innerHTML = '';
                            document.getElementById('composite-image').appendChild(img);
                        });
                }
                if (this.closeLogo.location == 'lowerLeft') {
                    watermarkjs([this.closeLogo.url_image, this.closeLogo.url_logo])
                        .image(watermarkjs.image.lowerLeft())
                        .then(function (img) {
                            document.getElementById('composite-image').innerHTML = '';
                            document.getElementById('composite-image').appendChild(img);
                        });
                }
                if (this.closeLogo.location == 'lowerRight') {
                    watermarkjs([this.closeLogo.url_image, this.closeLogo.url_logo])
                        .image(watermarkjs.image.lowerRight())
                        .then(function (img) {
                            document.getElementById('composite-image').innerHTML = '';
                            document.getElementById('composite-image').appendChild(img);
                        });
                }
                if (this.closeLogo.location == 'center') {
                    watermarkjs([this.closeLogo.url_image, this.closeLogo.url_logo])
                        .image(watermarkjs.image.center())
                        .then(function (img) {
                            document.getElementById('composite-image').innerHTML = '';
                            document.getElementById('composite-image').appendChild(img);
                        });
                }

            },
            createImageCloseLogo: function () {
//                this.$swal({
//                    title: "Bạn muốn đóng logo ?",
//                    text: "",
//                    type: "warning",
//                    showCancelButton: true,
//                    confirmButtonColor: "#DD6B55",
//                    confirmButtonText: "Đóng logo",
//                    closeOnConfirm: false
//                }).then(function () {
                this.closeLogo.url_image = this.editMedia.file_url;
                window.axios.post('/api/mediacloselogo', {
                    data: {
                        location: this.closeLogo.location,
                        url_logo: this.closeLogo.url_logo,
                        url_image: this.closeLogo.url_image
                    }
                }).then(response => {
                    this.fetch('/api/media');
                    this.editMedia = response.data.data;
                    this.selectedImage = [];
                    this.selectedImage.push(response.data.data)
                    this.$root.$emit('hide::modal', 'modal-water-mark');
                    this.$root.$emit('hide::modal', 'manage_media')
                    this.$root.$emit('show::modal', 'manage_media')
                });
//                }.bind(this));
            },
            removeSelection: function () {
                this.selectedImage = [];
            },
            deleteSelection: function () {
                this.$swal({
                    title: "Bạn chắc chắn muốn xóa ?",
                    text: "Sẽ không khôi phục lại được !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Xóa",
                    closeOnConfirm: false
                }).then(function () {
                    this.closeLogo.url_image = this.editMedia.file_url;
                    window.axios.post('/api/delete/media', {
                        data: {
                            selectedImage: this.selectedImage
                        }
                    }).then(response => {
                        this.fetch('/api/media');
                        this.removeSelection();
                        this.$root.$emit('hide::modal', 'manage_media');
                        this.$root.$emit('show::modal', 'manage_media');
                    });
                }.bind(this));
            },
            humanFileSize: function (file_size) {
                if (file_size == null) {
                    return '0B';
                }
                var i = Math.floor(Math.log(file_size) / Math.log(1024));
                return (file_size / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i];
            },
            getImageBySize: function (file_url, size) {
                if (!file_url) {
                    return '/img/placeholder_640x480.jpg';
                }
                if (file_url.indexOf('mp4') !== -1) {
                    file_url.replace('mp4', 'png');
                }
                let tmp = file_url.split('.');
                return tmp[0] + '-' + size + '.png';
                // return file_url.replace('.', '-' + size + '.');
            },
            fetch: function (url) {
                url = url || "/api/media";
                window.axios
                    .get(url, {
                        params: this.search
                    })
                    .then(response => {
                        this.params.data = response.data.data;
                    });
                this.hide();
            },
            fetchPagination: function (page) {
                this.fetch('/api/media?page=' + page);
            },
            clearFileArea: function () {
                this.$refs.vueDropzone.removeAllFiles();
            },
            hasSelect: function (item) {
                return this.selectedImage.indexOf(item);
            },
            selectImage: function (item, event) {
                // if (event.shiftKey && this.select_thumbnail === false) {
                if (this.select_thumbnail !== 'avatar') {
                    // if (this.select_thumbnail === false) {
                    // multi select image
                    let index = this.hasSelect(item);
                    if (index !== -1) {
                        this.selectedImage.splice(index, 1);
                    } else {
                        this.selectedImage.push(item);
                        this.editMedia = item;
                    }
                } else {
                    // select 1 image. show edit form
                    this.selectedFile = [];
                    let index = this.hasSelect(item);
                    if (index !== -1) {
                        this.selectedImage.splice(index, 1);
                        this.editMedia = {};
                    } else {
                        this.selectedImage = [item];
                        this.editMedia = item;
                    }
                }
            },
            updateMedia: function () {
                window.axios.put('/api/media/' + this.editMedia.id, {
                    data: {
                        name: this.editMedia.name,
                        alt: this.editMedia.alt,
                        caption: this.editMedia.caption,
                        link: this.editMedia.link
                    }
                }).then(response => {
                    if (response.error !== 200 || response.data.error) {
                        console.log(response.error);
                    }
                });
            },
            updatePaginationUrl: function (uri, key, value) {
                var re = new RegExp("([?&])" + key + "=[^&]*", "i");
                return re.test(uri)
                    ? uri.replace(re, '$1' + key + "=" + value)
                    : uri + separator + key + "=" + value;
            },
            selectMedia: function () {
                if (this.select_thumbnail === "thumbnail") {
                    this.$root.$emit('thumbnail', this.selectedImage);
                } else if (this.select_thumbnail === "description") {
                    this.$root.$emit('description', this.selectedImage);
                } else if (this.select_thumbnail === "guide_use") {
                    this.$root.$emit('guide_use', this.selectedImage);
                } else if (this.select_thumbnail === "insertMedia") {
                    this.$root.$emit('insertMedia', this.selectedImage);
                } else if (this.select_thumbnail === "imageAds") {
                    this.$root.$emit('imageAds', this.selectedImage[0]);
                } else {
                    this.$root.$emit('pickThumbnail', this.selectedImage[0]);
                }
            },
            openModalWM: function () {
                document.getElementById('composite-image').innerHTML = '';
                let src = this.getImageBySize(this.editMedia.file_url, "640x360");
                document.getElementById('composite-image').innerHTML = '<img src=' + src + ' />';
                this.$root.$emit('show::modal', 'modal-water-mark');
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            }
        }
    }
</script>
<style>
    .card-footer ul li {
        display: inline-block;
        padding: 0px;
        text-align: center;
    }

    #composite-image img {
        max-width: 480px;
        height: auto;
    }

    .play-icon {
        position: absolute;
        top: 15%;
        left: 40%;
        color: #fff;
    }

    .text-sm {
        font-size: 12px;
    }

    @media (min-width: 1366px) {
        .list-media {
            height: 400px !important;
        }
    }

    @media (min-width: 1600px) {
        .list-media {
            height: 500px !important;
        }
    }

    /* @media (min-width: 1920px) {
        .list-media {
            height: 570px !important;
        }
    }

    @media (max-width: 2550px){
        .list-media {
            height: 710px !important;
        }
    } */

    .bg-secondary {
        background: #dfdfdf;
    }

    .dz-message {
        font-size: 30px;
    }

    .edit-item {
        overflow-y: scroll;
        height: 400px;
    }

    img {
        width: 100%;
    }

    .item-selected {
        padding: 1px 1px;
        border: 4px solid #20a8d8;
    }

    .button-link {
        background-color: #0073aa;
        position: absolute;
        top: -10px;
        right: 10px;
        width: 30px;
    }

</style>
