.form-holder .fb-form {
    margin: 0;
    padding: 0 20px 10px;
}
.fb-form .innerWrap {
    /* border: 1px solid #C1C1C1; */
    /* border-radius: 4px 4px 4px 4px; */
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16) inset; */
    padding: 5px;
    height: 64px;
    resize: none;
    border: 1px solid #A3B1CF;
    background: #FFF;
    font-family: Helvetica, Arial, sans-serif;
}
.fb-form textarea {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    outline: none;
    font-family: arial;
}
.feedback-place {
    /* background: none repeat scroll 0 0 #F6F9FA; */
    /* border: 1px solid #E9EFF0; */
    border-radius: 2px 2px 2px 2px;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 3px solid #FFF;
    background: #f7f7f7;
}
.fb-form .title {
    font: 14px times new roman;
    padding: 0 0 5px;
}
.feedbacklist {
    list-style: none outside none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.feedbacklist li {
    border-top: 1px solid #E1E5E6;
}
.feedbacklist .fb-border {
    border-top: 1px solid #FFF;
    padding: 10px 20px;
}
.fb-avatar {
    margin-right: 10px;
    float: left;
}
.fb-avatar img {
    height: 30px;
    width: 30px;
    margin-left: 0;
}
.fb-name {
    float: left;
    margin-right: 10px;
    color: #333;
    font: 12px arial;
}
.fb-time {
    color: #999;
    font: italic 12px arial;
    margin-left: 10px;
    float: left;
}
.fb-left {
    padding-left: 40px;
}
.fb-button {
    float: right;
	width: 100%;
}
.fb-answer {
    width: 100%;
}
.level-1 .fb-answer,
.level-2 .fb-answer {
}
.fb-answer a {
    background: none repeat scroll 0 0 #EFEFF0;
    border: 1px solid #D1D2D2;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    height: 16px;
    padding: 1px 5px;
    text-transform: none;
    font-family: arial;
    font-size: 12px;
    color: #333;
}
.fb-answer a:hover {
    text-decoration: none;
}
.like-place .like_button_truelife {
    color: #4F5F87!important;
}
.like-place {
    float: left;
    margin-bottom: 5px;
    font-family: arial;
    font-size: 12px;
    margin-top: 1px;
}
.fb-content {
    font: 12px arial;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.clear {
	clear: both;
	color: #FFFFFF;
	font-size: 0;
	height: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}
.level-2 {
    padding-left: 40px!important;
}
.level-3 {
    padding-left: 60px!important;
}
.fb-header {
    padding: 10px 20px 10px;
    font-family: times new roman;
}
.fb-header a {
    cursor: pointer;
    color: #000;
    font-size: 14px;
}
.fb-item-form .fb-form {
    padding: 0 0 0 40px!important;
}
.fb-form .fb-notification {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}
.fb-notification {
    float: left;
    font-family: times new roman;
    font-size: 16px;
    height: 16px;
    text-transform: none;
}
.form-holder .fb-notification {
    font-family: times new roman;
    font-size: 14px;
    padding: 0;
}
.fb-button .fb-notification {
    color: #999;
    margin-top: 4px;
    margin-right: 5px;
}
.fb-notification.error {
    color: red;
}
.fb-notification.success {
    color: blue;
}
input[name="btnLogout"],
input[name="btnSend"],
input[name="btnClose"] {
    /* background: none repeat scroll 0 0 #EFEFF0; */
    /* border: 1px solid #D1D2D2; */
    /* border-radius: 5px 5px 5px 5px; */
    /* cursor: pointer; */
    /* height: 29px; */
    /* padding: 1px 5px; */
    /* text-transform: none; */
    padding: 8px 20px;
    /* float: right; */
    margin: 8px 0 8px 0;
    background: #4e69a2;
    color: #FFF;
    border-color: #435a8b #3c5488 #334c83;
}
input[name="btnLogout"],
input[name="btnClose"] {
    margin-right: 10px;
}
.level-2 .fb-border {
    padding: 10px 20px 10px 0!important;
}
.level-3 .fb-border {
    padding: 10px 20px 10px 0!important;
}
.fb-limit,
.fb-sort {
    cursor: pointer;
    float: right;
    margin-left: 8px;
    margin-top: -2px;
}
.fb-pagging {
    text-align: center;
}
.pagging-holder {
    border-top: 1px solid #E1E5E6;
    margin-top: 10px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: right;
}
.pagging-holder a {
    background: none repeat scroll 0 0 transparent;
    border-right: 1px solid #A5A6A6;
    color: #999;
    font-size: 12px;
    padding: 0 5px;
    text-decoration: none;
    font-family: arial;
}
.pagging-holder a:hover {
    text-decoration: none;
}
.pagging-holder .current {
    color: #A52B2A;
    font-weight: bold;
}
.pagging-holder .current.prev1,
.pagging-holder .current.next1 {
    background: none repeat scroll 0 0 #FFF;
    border-bottom-color: #999;
    border-left-color: #999;
    border-right: medium none!important;
    border-top-color: #999;
    color: #999;
    font-weight: normal!important;
}
.pagging-holder .prev,
.pagging-holder .next {
    color: #000;
}
.pagging-holder .prev {
    background-image: url("image/prev-arrow.gif");
    height: 10px;
    width: 2px;
    margin: 0 4px;
    display: inline-block;
    border-right: none!important;
}
.pagging-holder .next {
    background-image: url("image/next-arrow.gif");
    height: 10px;
    width: 2px;
    display: inline-block;
    border-right: none!important;
    margin-left: 3px;
}
.pagging-holder li {
    display: inline;
}
.pagging-holder li:nth-last-child(2) a {
    border: none!important;
}
.fb-setting {
    padding: 10px 20px;
    border-top: 1px solid #E1E5E6;
}
.fb-setting .fb-limit,
.fb-setting .fb-sort {
    cursor: pointer;
    float: right;
    margin-left: 8px;
    margin-top: -2px;
}
.header-holder {
    width: 40%;
    float: left;
}
.fb-delete {
    background: url(image/delete.png) no-repeat;
    float: right;
    display: none;
    height: 15px;
    width: 15px;
    cursor: pointer;
    position: relative;
}
.fb-loading {
    background: url(image/loading.gif) no-repeat;
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}
.fb-form .fb-loading {
    margin: 3px 5px 0 0;
    float: right;
    display: none;
}
.vodanh-first .login-text {
    /* border: 1px solid #D0D0D0; */
    height: 20px;
    border: 1px solid #A3B1CF;
    background: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    /* border-radius: 4px; */
    margin-bottom: 10px;
    padding: 1px 5px;
    width: 255px;
    background: #fff;
}
.vodanh-first label {
    display: block;
    float: left;
    width: 71px!important;
}
.pagy .btn {
    color: #2e2e2e;
    cursor: pointer;
    float: left;
}

.pagy .disabled {
    color: #999;
    cursor: auto;
}

.pagy ul {
    float: left;
    list-style: none;
    margin: 0 5px;
    padding: 0;
    width: auto !important;
}

.pager ul li {
    display: inline;
    margin-left: 2px;
}

.pager ul li a {
    height: 20px;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    width: 20px;
    color: #999;
}

.pager ul li a.active {
    cursor: auto;
    color: #1266d5;
    text-decoration: underline;
    font-weight: bold;
    cursor: auto !important;
}

.disabled_prev, .disabled_next {
    color: #999999 !important;
    cursor: auto !important;
}