body, ul, ol, form, h1, h2, h3,h4, h5, h6,fieldset,blockquote, p {
	padding: 0;
	margin: 0;
	list-style-type: none;
	border: 0;
	font-size: 100%;
}

body {
	background: #e7e5d8; /*#e5e5e5;*/
	font-family: 'Noto Serif', serif;
	color: #333333;
	
	font-size: 19px;
}

table {
	border-collapse:collapse;
}

.clear {
	clear: both;
	color: #FFFFFF;
	font-size: 0;
	height: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

*:focus {
	outline: none;
}


a, a:active{
	text-decoration: none;
	color: #000;
}
.row110-1 .list-simple li.first a.title-2:visited,
.row110-1 .list-simple li a.title:visited,
.row001-2 .list-simple .title-2:visited,
.hotnews-1 .list-simple li a:visited,
.title-1:visited,
.hot-news .list-simple li a:visited,
.box-newstop .newstop .list-semi li .title-3:visited{ 
    color: #A92C2A;
}
a:hover {
	text-decoration: underline;
}

.row10 {
	margin-bottom: 10px;
}

.row15 {
	margin-bottom: 15px;
}
.header-left {
    float: left;
    margin:0px !important;
    position: fixed;
    /* width: 100%; */
    /* z-index: 9999; */
}
.info{
	/* width: 62%; */
	/* float: right; */
}
.header img {
    
     margin:0px 10px; 
}
a.Movie {
	background: url("../image/icon_video.gif") no-repeat left center;
	padding-left: 20px;
}

a.Photo {
	background: url("../image/icon_photo.gif") no-repeat left center;
	padding-left: 20px;
}

#main {
	/*! width: 980px; */
	margin: 0 auto;
	background: #fff;
}

#body {
	padding: 10px;
	/* border: 1px solid #BBB9BA; */
	border-top: none;
	border-bottom: none;
	width: 980px;
	margin: 0 auto;
}

.col1 {
	width: 645px;
	float: left;
	margin-right: 13px;
}

.col2 {
	width: 300px;
	float: right;
}

.header{
	height: 122px;
	position: relative;
	text-align: center;
	/*background: url(../image/header_2015.jpg) no-repeat left top;
	background: url(../image/banner_tet_2016.jpg) no-repeat left top;*/
	margin: 0;
}

.header .logo {
	margin: 15px 0 0 0;
}
.header-left img{
	margin: 0px 10px;
}
.header a {
	display: block;
	height: 100px; 
	width: 590px;
	position: absolute;
	top: 10px;
	left: 175px;
}

.tabmenu a.title {
	color: #fff;
	display: block;
	text-decoration: none;
	font-weight: bold;
	background: url("../image/border-menu.png") no-repeat left center;
	line-height: 28px;
}

.tabmenu a span.rootVoice {
	padding: 0 10px;
	display: block;
	font-size: 12px;
	font-family: 'Arial';
}

.tabmenu a.active span.rootVoice, .tabmenu a.isSelected span.rootVoice {
	background-color: #274c82;
	color: #fff;
}

.menuContainer {
	background: #274c82;
}

.menuContainer td a {
	color: #fff;
	display: block;
	height: 100%;
	padding: 8px 10px;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Arial';
}

.menuContainer td.img {
	display: none;
}

.menuContainer .selected td a {
	color: #fff;
	display: block;
	background: #456594;
}

.tabmenu a.home span.rootVoice {
	padding: 2px 0 2px 10px;
	background: none;
	margin-right: 10px;
	display: block;
}

.tabmenu a.home {
	background: none;
}

.tabmenu .rootVoices td.last {
}

.tabmenu a.english, .tabmenu a.english span.rootVoice {
	padding: 0 0 0 2px !important;
}

#topmenu {
	background: url("../image/bg-menu.gif") repeat center;
	color: #FFFFFF;
	height: 38px;
}

.topmenu {
	padding: 0;
}

#submenu .mbmenu{
	background: #456594;
}

#submenu .mbmenu a {
	display: block;
	border-top: 1px solid #fff;
	background: #274c82;
}

.tool-header #now {
	float: left;
	font-size: 12px;
}

.tool-header .right {
	float: right;
	line-height: 1;
}

.tool-header #form-search {
	float: right;
	margin-top: 5px;
	margin-left: 10px;
}

.tool-header {
	height: 29px;
	line-height: 29px;
	background: #F3F3F3;
}

.date {
	color: #666;
}

.tool-header .right .sethomepage {
	background: url(../image/border1.gif) no-repeat right center;
	padding-right: 10px;
	margin-right: 5px;
}

.tool-header .right a {
	color: #666;
}

#form-search {
	position: relative;
}

#form-search .submit {
	background: url(../image/search_button.gif) no-repeat;
	border: 0;
	cursor: pointer;
	height: 17px;
	padding: 0;
	right: 3px;
	width: 64px;
	margin-left: 3px;
}

#form-search .keyword {
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	padding: 0 0 0 5px;
	height: 17px;
}

/*footer*/
#footer {
	background: #fff;
	width: 100% !important;
	margin: 0 auto;
	/* border-top: 1px solid #BBB9BA; */
	/* border-bottom: 1px solid #BBB9BA; */
	/* border-bottom: none; */
}
.footer-menu {
    border-top: 1px solid #bcbabb !important;
    border-bottom: 1px solid #bcbabb !important;
    /* padding: 5px 0; */
    /* width: 1132px; */
    width: 100%;
    /* margin: 0px auto; */
}
.container{
	width: 100%;
	margin: 0px auto;
}
.logo-footer {
	margin-bottom: 5px;
}

.logo-footer img {
	width: 150px;
}

.footer {
}

.bg-footer {
	background: none;
	border: 1px solid #bcbabb;
	border-right: none;
	border-left: none;
}

.menu-foot {
	padding: 0 10px;
}

.menu-foot a {
	text-decoration: none;
	color: #000;
	padding: 0 7px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
}

.menu-foot a.first {
	padding-left: 0;
}

.menu-foot a.go-top {
	background: url(../image/icon-gotop.png) no-repeat left 6px;
	padding-left: 14px;
	float: right;
	text-transform: none;
}

.menu-cate {
	border-bottom: 1px solid #9cabb9;
	line-height: 26px;
}

.menu-cate a {
	padding: 0 10px;
	text-transform: uppercase;
	font-size: 11px;
	color: #666;
}

.menu-cate a.first {
	padding-left: 0;
}

.info-footer {
	position: relative;
	padding: 10px		;
}

.info-footer .info p {
	padding-bottom: 3px;
	font-size: 12px;
}

.info-footer .provider {
	position: absolute;
	right: 10px;
	bottom: 15px;
}
/*newstop*/

.title-1 {
	font-size: 18px;
	font-weight: bold;
	color: #053777;
}

.title-2 {
	font-size: 13px;
	color: #053777;
	font-weight: bold;
}

.title-3 {
	color: #053777;
}

.newstop {
}

.newstop .newsfirst .avatar{
	float: left;
	width: 420px;
	height: 235px;
	overflow: hidden;
	margin-right: 15px;
}

.newstop .newsfirst .avatar img {
	width: 420px;
	height: 235px;
}

.newstop .list-semi li {
	width: 150px;
	float: left;
	margin-left: 15px;
}

.newstop .list-semi li .avatar {
	display: block;
	width: 150px;
	height: 95px;
	overflow: hidden;
	margin-bottom: 5px;
}

.newstop .list-semi li .avatar img {
	width: 150px;
	height: 95px;
}

.newstop .list-semi li.first {
	margin-left: 0;
}

.newstop .list-semi li .title-3 {
	font-weight: bold;
}

.box-newstop {
	margin-bottom: 10px;
}

.box-newstop .newstop {
	float: right;
	width: 420px;
	margin-bottom: 0;
}

.box-newstop .newstop .newsfirst .avatar{
	width: 420px;
	height: 235px;
	overflow: hidden;
	margin-right: 15px;
	margin-bottom: 5px;
}

.box-newstop .newstop .newsfirst .avatar img {
	width: 420px;
	height: 235px;
}

.box-newstop .newstop .newsfirst .lead {
}

.box-newstop .newstop .list-semi {
	margin-bottom: 10px;
}

.box-newstop .newstop .list-semi li {
	width: 130px;
	float: left;
	margin-left: 15px;
}

.box-newstop .newstop .list-semi li .avatar {
	display: block;
	width: 130px;
	height: 75px;
	overflow: hidden;
	margin-bottom: 5px;
}

.box-newstop .newstop .list-semi li .avatar img {
	width: 130px;
	height: 75px;
}

.box-newstop .newstop .list-semi li.first {
	margin-left: 0;
}

.box-newstop .newstop .list-semi li .title-3 {
	font-weight: bold;
}

.box-newstop .newstop .newstop1, #car0, #car0 li {
	height: 335px;
	overflow: hidden;
	width: 420px;
}

#car0 li .mtitle, 
#car0 li .lead  {
	padding: 3px 5px 3px 5px;
}

.ad-left {
	background: #f1f1f1;
	text-align: center;
	padding: 10px 0;
}

.ad-left img {
	width: 468px;
	height: 60px;
}

.ad-right img, .ad-right embed {
	width: 300px;
	margin-bottom: 5px;
}


/*tabs*/
ul.tabs {
	background: #dcdcdc;
	list-style:none;
	padding:0;
	padding: 3px 0 0 3px;
}

ul.tabs li {
	text-align: center;
	padding: 8px 0;
	margin:0 !important;
	list-style-image:none !important;
	display: inline;
}

ul.tabs a {
	line-height:30px;
	text-decoration:none;
	color:#ff2800; /*#000; - sua cho Tet 2015*/
	padding: 7px 10px;
	margin-right: 1px;
	font-size: 15px;
	font-weight: bold;
}

ul.tabs a:active {
	outline:none;
}

ul.tabs a:hover {
	color:#294d80;
}

ul.tabs li.ui-state-active a {
	cursor:default !important;
	border: none;
	margin-top: 0;
	color: #ff2800; /*#294d80;- sua cho tet 2015*/
}

ul.tabs li.ui-state-active {
	background: #fff;
}

.hot-news {
	margin-bottom: 5px;
}

.hot-news .panes ul {
	background: #f6f6f6;
	padding: 10px;
	height: 192px;
	overflow: auto;
}

.hot-news .list-simple li {
	margin-top: 7px;
	padding-top: 7px;
}

.hot-news .list-simple li.first {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}

.hot-news .list-simple li a {
	font-weight: bold;
}

.hot-news .cate-title {
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 5px;
}

.hot-news .cate-title span.date {
	padding-right: 5px;
}

.hot-news .cate-title a {
	color: #999;
}

/*row110-1*/
.box {
	position: relative;
}

.boxcate .left {
	width: 310px;
	float: left;
	margin-right: 25px;
}

.boxcate .right {
	width: 310px;
	float: right;
}

.boxcate .cate-header {
	border-bottom: 1px solid #f1b99f ; /* #c8ced1; -sua cho Tet 2015*/
}

.boxcate .cate-header .cate-title {
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #e2252d; /*Tet 2015 31/12/2015*/
}

.boxcate .cate-header .menu-subcate {
	float: right;
}

.boxcate .cate-header .subcate {
	padding: 10px;
	display: none;
	position: absolute;
	right: 0;
	top: 22px;
	background: #fff;
	border-radius: 0 0 3px 3px;
	box-shadow: 2px 2px 8px #888888;
}

.boxcate .cate-header .subcate li {
	line-height: 20px;
	padding: 3px 0;
}

.boxcate .cate-header .subcate li a {
	font-size: 14px;
	color: #666;
}

.boxcate .cate-header .menu-subcate .button {
	background: url(../image/submenu-button.gif) no-repeat center;
	width: 23px;
	height: 23px;
	display: block;
	float: right;
	cursor: pointer;
	display:none;
}

.row110-1 .list-simple {
	padding: 10px 0 0 0;
}

.row110-1 .list-simple li  {
	background: url(../image/tamgiac.gif) no-repeat left 7px;
	margin-top: 3px;
	padding-top: 3px;
	padding-left: 8px;
	/*border-top: 1px dotted #dfe1e3;*/
}

.row110-1 .list-simple li a.title{
	color: #053777;
}

.row110-1 .list-simple li.first {
	background: none;
	border-top: none;
	margin-top: 0;
	padding-top: 0;
	padding-left: 0;
}

.row110-1 .list-simple li.first .title-2{
	display: block;
	margin-bottom: 10px;
	height: 30px;
}

.row110-1 .list-simple li.first .avatar {
	float: left;
	width: 150px;
	height: 85px;
	overflow: hidden;
	margin-right: 10px;
}

.row110-1 .list-simple li.first .avatar img {
	width: 150px;
	height: 85px;
}

/*row110-2*/
.row110-2 .firstnews {
	width: 310px;
	height: 200px;
	position: relative;
	margin: 10px 0;
}

.row110-2 .firstnews .avatar {
	width: 310px;
	height: 200px;
	overflow: hidden;
}

.row110-2 .firstnews .avatar img {
	width: 310px;
	height: 200px;
}

.row110-2 .firstnews a.title {
	position: absolute;
	display: block;
	background: #000;
	filter:alpha(opacity=60);
	opacity: 0.6;
	color: #fff;
	bottom: 0;
	padding: 10px;
	font-weight: bold;
	width: 290px;
}

.row110-2 .list-simple {
	padding: 10px 0;
}

.row110-2 .list-simple li {
	margin-top: 10px;
}

.row110-2 .list-simple li a{
	color: #053777;
}

.row110-2 .list-simple li.first {
	margin-top: 0;
}

.row110-2 .list-simple li .avatar {
	float: left;
	width: 110px;
	height: 60px; 
	overflow: hidden;
	margin-right: 10px;
}

.row110-2 .list-simple li .avatar img {
	width: 110px;
	height: 60px; 
}
/*row110-3*/

.row110-3 .list-simple {
	padding: 10px 0;
}

.row110-3 .list-simple li  {
	margin-top: 7px;
	padding-top: 7px;
	border-top: 1px dotted #dfe1e3;
}

.row110-3 .list-simple li a.title{
	color: #053777;
}

.row110-3 .list-simple li.first {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}

.row110-3 .list-simple li.first .title-2{
	display: block;
}

.row110-3 .list-simple li.first .avatar {
	width: 325px;
	height: 185px;
	overflow: hidden;
	margin-right: 10px;
}

.row110-3 .list-simple li.first .avatar img {
	width: 325px;
	height: 185px;
}

#danang-cuoituan .cate-header .cate-title a { 
	background: url(../image/danang-cuoituan.png) no-repeat center;
	width: 120px;
	height: 52px;
	display: block;

}

/*row110-4*/
.row110-4 {
	border-top: 1px solid #ccc;
	padding-top: 15px;
	margin-bottom: 15px;
}

.row110-4 .colitem {
	width: 200px;
	float: left;
	margin-left: 22px;
}

.row110-4 .firstitem {
	margin-left: 0;
}

.row110-4 .cate-header .cate-title {
	font-weight: bold;
	font-size: 14px;
	color: #ff2800; /*Them cho Tet 2015*/
}

.row110-4 .list-simple {
	padding: 5px 0 10px 0;
}

.row110-4 .list-simple li  {
	margin-top: 7px;
	padding-top: 7px;
}

.row110-4 .list-simple li a.title{
	color: #053777;
}

.row110-4 .list-simple li.first {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
.row110-4 .list-simple li.first a {
	font-weight: bold;
}

.row110-4 .list-simple li.first .avatar {
	width: 200px;
	height:110px;
	overflow: hidden;
	margin-right: 10px;
	margin-bottom: 10px;
}

.row110-4 .list-simple li.first .avatar img {
	width: 200px;
	height: 110px;
	margin-bottom: 5px;
}

/*row001-1*/
.row001-1 .cate-header {
	list-style:none;
	padding:0;
	padding: 5px 0 0 3px;
}

.row001-1 .cate-title a {
	background: #fff;
	line-height:25px;
	text-decoration:none;
	color: #ce1417; /* #294d80;*/
	padding: 3px 10px;
	font-size: 18px;
	font-weight: bold;
}

.page-home .row001-1 .cate-title a {
	color: #294d80;
}

.row001-1 .list-simple {
	background: #fff;
	padding: 10px 0;
}

.row001-1 .list-simple li {
	margin-top: 7px;
	padding-top: 7px;
	border-top: 1px dotted #dfe1e3;
}

.row001-1 .list-simple li.first {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}

.row001-1 .col-title {
	display: table-cell;
	vertical-align: top;
	width: 200px;
}

.row001-1 .col-title a.title {
	color: #16437F;
}

.row001-1 .col-avatar {
	display: table-cell;
}

.row001-1 .col-avatar .avatar {
	width: 130px;
	height: 70px;
	overflow: hidden;
}

.row001-1 .col-avatar .avatar img {
	width: 130px;
	height: 70px;
	margin-left: 10px;
}

/*weather*/

.box-1 .box-content {
	background: #f6f6f6;
}

.tygia {
	float: left;
	width: 148px;
}

.row001-4 .tygia .list-simple{
	border: none;
	border-right: 1px solid #cbcbcb;
}

.row001-4 .tygia .list-simple li {
}

.row001-4 .tygia .list-simple li div.icons, .row001-4 .tygia .list-simple li div.mtitle {
	display: table-cell;
	vertical-align: middle;
}

.row001-4 .tygia .list-simple li div.mtitle {
	font-size: 11px;
	padding: 5px 3px;
	width: 124px;
}

.row001-4 .tygia .list-simple li .icons {
	width: 22px;
	text-align: center;
}

.tygia .usd {
	background: url(../image/icon-tygia.gif) no-repeat center;
}

.tygia .gold {
	background: url(../image/icon-giavang.gif) no-repeat center;
}

.tygia .chungkhoans {
	background: url(../image/icon-chungkhoan.gif) no-repeat center;
}

.tygia .contacts {
	background: url(../image/icon-email.gif) no-repeat center;
}

.tygia .contacts-adman {
	background: url(../image/icon-telephone.gif) no-repeat center;
}

.weather .title {
	padding-left: 10px;
	margin-right: 10px;
	line-height: 25px;
	height: 32px;
}

.weather img#w-sky {
	float: left;
	width: 31px;
	height: 31px;
	margin-right: 5px;
	border: 1px solid #ccc;
}

.weather .title img {
	margin-bottom: 5px;
}

.img-w .imgw {
	float: left;
	width: 40px;
	margin-right: 10px;
}

.img-w {
	width: 100%;
	margin-top: 5px;
	padding: 0 10px;
}

.weather .w-c {
	line-height: 30px;
	color: #144774;
	font-weight: bold;
	font-size: 18px;
}

.weather #location {
	background: none;
	border: none;
	height: 15px;
	width: 155px;
	font-size: 8pt;
	-webkit-appearance: none;
}

#w-location {
	background: url(../image/bg-select-weather.gif) no-repeat left center;
	overflow: hidden;
	width: 135px;
	margin: 5px;
}

.weather .w-detail {
	display: none;
}

.weather {
	float: right;
	width: 148px;
}

/*row001-2*/
.box-1 {
}

.box-1 .cate-header {
	padding: 5px 10px;
	line-height: 20px;
}

.box-1 .cate-header, .box-1 .cate-header .cate-title a {
	font-weight: bold;
	font-size: 18px;
	color: #ce1417; /*#000*/
}

.page-home .box-1 .cate-header, .page-home .cate-header .cate-title a {
	color: #ff2800; /*#000; - sua cho Tet 2015 */
}

.row001-2 .list-simple {
	background: #f6f6f6;
	padding: 0;
}

.row001-2 .list-simple li {
	width: 290px;
	padding: 5px;
}

.row001-2 .list-simple li .avatar {
	width: 290px;
	height: 165px;
	display: block;
	position: relative;
	margin-bottom: 5px;
}

.row001-2 .list-simple li .avatar img {
	width: 290px;
	height: 165px;
}

.row001-2 .list-simple .title-2 {
	display: block;
	font-size: 13px;
	padding: 0 10px 10px 10px;
}

.row001-2 .photos .list-simple .title-2 {
	height: 35px !important;
	overflow: hidden;
}

.videoclip .avatar .icon-player {
	position: absolute;
	width: 40px !important;
	height: 40px !important;
	top: 60px;
	left: 130px;
}

.photos, .videoclip {
	position: relative;
}

.row001-2 .photos .list-simple {
	height: 210px !important;
	overflow: hidden;
}

.row001-2 .photos .list-simple li {
	height: 210px;
	overflow: hidden;
}



.row001-2 a.next,
.row001-2 a.prev {
	width: 27px;
	height: 47px;
	cursor: pointer;
	position: absolute;
	top:60px;
}

.row001-2 .prev{
	background: url(../image/prev_1.png) no-repeat left top;
	left: 0px;
	width: 27px;
	height: 47px;
	z-index: 9999;
}

.row001-2 .next {
	background: url(../image/next_1.png) no-repeat left top;
	right: 0px;
	width: 27px;
	height: 47px;
	z-index: 9999;
}

.row001-2 .caroufredsel_wrapper {
	width: 300px !important;
	height: 210px !important;
	overflow: hidden;
	margin-top: 0 !important;
}

.row001-2 #prev-1, .row001-2 #prev-3, .row001-2 #next-1, .row001-2 #next-3 {
	display: none !important;
}
/*row001-3*/
.row001-3 .list-simple {
	padding: 10px;
	background: #f6f6f6;
}

.row001-3 .list-simple li {
	/*border-top: 1px dotted #DFE1E3;*/
	background: url(../image/tamgiac.gif) no-repeat left 7px;
	padding-left: 8px;
	margin-top: 3px;
	padding-top: 3px;
}

.row001-3 .list-simple li.first {
	background: none;
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
}
.row001-3 .list-simple li.first .title-2 {
	font-size: 14px;
}

.row001-3 .list-simple li.first .avatar {
	float: right;
	width: 110px;
	height: 70px;
	overflow: hidden;
	margin-left: 10px;
}

.row001-3 .list-simple li.first .avatar img {
	width: 110px;
	height: 70px;
}

.row001-3 .list-simple li .title {
	color: #053777; /* #666;*/
}

.row001-3 .list-simple li.first .lead {
	margin-top: 5px;
}

.list-channel {
	position: relative;
	padding: 10px 10px 0 10px;
	background: #f0f0f0;
}

#megafun-channel {
	height: 38px !important;
	overflow: hidden;
	margin-top: 0 !important;
}

.list-channel ul li {
	width: 55px;
	float: left;
	margin-left: 13px;
	padding-bottom: 5px;
}

.list-channel ul li.first {
	margin-left: 0;
}

.list-channel ul li img {
	width: 55px;
}

.list-channel a.next,
.list-channel a.prev {
	width: 20px;
	height: 19px;
	cursor: pointer;
	position: absolute;
	top: 20px;
}

.list-channel #prev-2{
	background: url(../image/prev_2.png) no-repeat left top;
	left: 0px;
	width: 13px;
	height: 19px;
	z-index: 9999;
}

.list-channel #next-2 {
	background: url(../image/next_2.png) no-repeat left top;
	right: 0px;
	width: 13px;
	height: 19px;
	z-index: 9999;
}

.list-channel .caroufredsel_wrapper {
	width: 270px !important;
	overflow: hidden;
	height: 38px !important;
}

/*row 001-4*/
.row001-4 .list-simple{
	background: #f6f6f6;;
}

.row001-4 .list-simple li {
}

.row001-4 .list-simple li div.number,  .row001-4 .list-simple li div.col-title {
	display: table-cell;
	vertical-align: middle;
	padding: 5px 5px 5px 0;
}

.row001-4 .list-simple li .number {
	width: 25px;
	text-align: center;
	color: #ababab;
	font-size: 20px;
	font-weight: bold;
	font-family: 'VNI Centur';
	font-style: italic;
}

.row001-4 .list-simple li .col-title {
	width: 270px;
}

.row001-4 .list-simple li.first {
	border-top: none;
}

#nhipcau-nhanai .list-simple {
	padding: 10px 0;
}

#nhipcau-nhanai .list-simple li {
	padding: 7px 10px 0 10px;
	margin-top: 7px;
}

#nhipcau-nhanai .list-simple li.first {
	padding-top: 0;
	margin-top: 0;
}

/*trang chuyen m?c*/

.nav {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.nav .cate-title {
	background: #fff; /*#294d81;*/
	line-height: 26px;
	float: left;
	/* font-size: 26px; */
}

.nav .cate-title a{
	padding: 10px 10px;
	color: #ce1417;
	font-size: 25px;
}

.nav .cate-title a.second {
	background: url(../image/dot-3.png) no-repeat left center;
	padding-left: 15px;
	text-align:center;
}

.nav .cate-title a.current {
	font-weight: bold;
}

.nav .subcate{
	float: right;
	margin:0;
	padding: 0;
	line-height: 26px;
}

.nav .subcate li {
	float: left;
	padding: 0 6px;
}

.nav .subcate li a {
	color: #666;
	font-size: 12px;
	padding: 4px 0;
}

.nav .subcate li a.current {
	border-bottom: 2px solid #294d81;
}

.newsfirst {
	background: #f6f6f6;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.newsfirst .item-first {
	float: left;
	width: 410px;
}

.newsfirst .items-next{
	float: right;
	width: 215px;
}

.newsfirst .item-first {
	position: relative;
}

.newsfirst .item-first .avatar {
	width: 410px;
	height: 236px;
	overflow: hidden;
	display: block;
}

.newsfirst .item-first .avatar img {
	width: 420px;
	height: 236px;
}

.newsfirst .item-first .title {
	width: 390px;
	display: block;
	background: url(../image/bg-title-newsfirst.png) repeat-x left top;
	position: absolute;
	color: #fff;
	bottom:0;
	left: 0;
	padding: 20px 10px 10px 10px;
	font-size: 18px;
	max-height: 40px;
	overflow: hidden;
}

.newsfirst .items-next li {
	margin-top: 10px;
}

.newsfirst .items-next li.first {
	margin-top: 0;
}

.newsfirst .items-next li .avatar{
	float: left;
	width: 110px;
	height: 70px;
	overflow: hidden;
	margin-right: 10px;
}

.newsfirst .items-next li .avatar img {
	width: 110px;
	height: 70px;
}

.hotnews-1 {
	width: 210px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.hotnews-1 .cateheader {
	border-bottom: 1px solid #f1b99f ; /*#ccc; sua cho Tet 2015*/
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.hotnews-1 .cateheader li a {
	font-size: 15px;
	font-weight: bold;
	color: #e2252d; /*#A92C2A; sua cho Tet 2015*/
}
.hotnews-1 .list-simple li {
	border-top: 1px dotted #e2252d;
}

.hotnews-1 .list-simple li a {
	font-weight: normal;
	font-size: 13px;
}

.hotnews-1 .list-simple li.first {
	border-top: none;
}

.hotnews-1 .list-simple li.first .title-3 {
}

.hotnews-1 .list-simple li.first .lead {
	margin-top: 5px;
}

.hotnews-2 {
	margin-bottom: 15px;
}

.hotnews-2 .cateheader {
	border-bottom: 1px solid #f1b99f ; /*#ccc - sua cho tet 2015*/
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.hotnews-2 .list-simple li {
	border-top: 1px dotted #e2252d;
	margin-top: 15px;
	padding-top: 15px;
}

.hotnews-2 .list-simple li a {
}

.hotnews-2 .list-simple li.first {
	border-top: none;
}

.hotnews-2 .cateheader li a {
	font-size: 15px;
	font-weight: bold;
	color: #e2252d; /* #000; sua cho Tet 2015*/
}

.hotnews-2 .list-simple li .avatar {
	float: left;
	width: 95px;
	height: 55px;
	margin-right: 10px;
}

.hotnews-2 .list-simple li .avatar img {
	width: 95px;
	height: 55px;
}

.hotnews-2 .list-simple li .date-cate {
	margin-bottom: 3px;
}

.hotnews-2 .list-simple li .date-cate span {
	color: #73787e;
	font-size: 11px;
	padding-right: 5px;
}

.list-full-1 li {
	padding-bottom: 10px;
	margin-top: 10px;
}

.list-full-1 li.first {
	margin-top: 0;
}

.list-full-1 li div.m-avatar {
	width: 150px;
	display: table-cell;
}

.list-full-1 li div.title-lead {
	display: table-cell;
	vertical-align: top;
}

.list-full-1 li .avatar {
	width: 150px;
	height: 90px;
	overflow: hidden;
}

.list-full-1 li .avatar img {
	width: 150px;
	height: 90px;
	margin-top: 2px;
	margin-right: 15px;
}

.list-full-1 li .title-1 {
	color: #16437f;
	font-size: 15px;
}

.list-full-1 li .date {
	color: #999;
	margin: 3px 0 5px 0;
	font-size: 11px;
}

.list-full-1 li .lead {
	margin-top: 5px;
}

/*deatail*/

.article {margin-top: -57px;}

.article .sub-title {
	margin-bottom: 5px;
	color: #006699;
	font-size: 14px;
	font-weight: bold;
}

.article h1.title {
	/* margin-bottom: 3px; */
	/* color: #323232; */
	/* font-size: 20px; */
	font-family: "Noto Serif", serif;
	letter-spacing: -1px;
	font-size: 32px;
	font-size: 1.5rem;
	color: #111;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
}

.article .date {
	color: #999;
	margin-right: 10px;
	font-size: 13px;
}

.article .avatar {
	margin: 10px 0;
}
/*
#avatar-detail img {
	width: 635px !important;
	height: 374px !important;
}
*/
.articles .boxcontent {
	position: relative;
}

.article .col-tool {
	width: 150px;
	display: table-cell;
}

.article .content {
	vertical-align: top;
}

.boxcontent .article-tools {
}

.boxcontent .article-tools li {
	border-top: 1px solid #dcdcdc;
} 

.boxcontent .article-tools li div {
	border-top: 1px solid #f3f3f3;
}

.boxcontent .article-tools li div.number-fb {
	background: url(../image/icon-number-fb.gif) no-repeat top;
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
	cursor: pointer;
}

.boxcontent .article-tools li div.icon-share {
	background: url(../image/icon-share.gif) no-repeat center 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	cursor: pointer;
}

.boxcontent .article-tools li div.icon-email {
	background: url(../image/icon-tool-email.gif) no-repeat center 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
	cursor: pointer;
}

.boxcontent .article-tools li div.icon-print {
	background: url(../image/icon-print.gif) no-repeat center 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	cursor: pointer;
}

.boxcontent .article-tools li div.icon-print a {
	display: block;
}

.boxcontent .article-tools li div.number-fb span#number-fb {
	color: #fff;
	background: #ddd;
	padding: 2px 5px;
}

.article .relatednews .cate-title {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	line-height: 28px;
	font-size: 15px;
	text-transform: uppercase;
}

.article .relatednews ul {
	margin-bottom: 10px;
}

.article .relatednews li {
	padding-top: 7px;
}
.article .relatednews li a{
	color: #16437F;
}

.article .relatednews li.first {
	padding-top: 10px;
}

.article p {
	padding-bottom: 16px;
	padding-top: 0;
	line-height: 17px;
	font-size: 13px;
	font-size: 15px;
	font-family: "Noto Serif", arial;
	line-height: 1.3;
	color: #222;
	font-size: 15px;
	line-height: 30px;
}

.othernews {
	border-top: 1px solid #DDDDDD;
	margin-top: 10px;
	padding-top: 10px;
}

.othernews .cate-title {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.othernews ul.list-simple li {
	width: 200px;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
}

.othernews ul.list-simple li.first {
	margin-left: 0;
}

.othernews ul.list-simple li .avatar {
	display: block;
	width: 200px;
	height: 115px;
	overflow: hidden;
	margin-bottom: 5px;
}

.othernews ul.list-simple li .avatar img {
	width: 200px;
	height: 115px;

}

.othernews ul.list-simple li .title {
	color: #16437F;
}


/* style bang tin lien quan*/
table.quote {
	border: 1px solid #d6dce8;
	background: #eee;
}

table.quote td {
	padding: 3px 5px;
	color: black;
	text-align: justify;
}

table.image {
	border-collapse: collapse;
	/* background: #e9e9e9; */
	/* width: 1%; */
	/* width: 100%; */
	/* color: #135EB9; */
}

table.mceItemTable td,
table.image td {
	text-align: center;
/*	padding: 5px 10px;*/
}

table.image td p {
	padding: 0;
	margin: 0;
}

table.mceItemTable i {
	font-style: normal;
}

table.mceItemTable i,
table.image .image_desc {
	padding: 5px;
	font-size: 14px;
}

#chitiet table td img {
	border: 1px solid #444;
}

table.left {
	width: 240px;
}

table.right {
	width: 240px;
}

table.mceItemTable,
table.center {
	/* margin-bottom: 10px; */
}
table.center{
	margin-left:10px ;
}
#content p{
	width:650px;
	font-size: 18px !important;
	/* margin-left: -5px; */
	margin: 0px auto;
}
table.rl {
	text-align: left;
	margin: 10px 0;
}

table.rl th {
	display: none;
	font-weight: bold;
	color: #890703;
}

table.rl a {
	color: #0000ff;
}

table.rl ul li {
	background: url("../image/arrow1.png") no-repeat 0 4px;
	margin-top: 3px;
	padding-left: 12px;
}

table.rl ul li a {
	color: #0000ff;
}

table.box {
	width: 220px !important;
	border-collapse: collapse;
	margin-top:  5px;
	margin-bottom: 5px;
}

table.box th {
	padding: 0 0 5px 0;
	border-bottom: 1px solid #DBDBDB;
}

table.box ul {
	margin: 5px 5px 5px 0;
}

.poll_class_show {
	display: none;
}

table.image td img {
	height: auto !important;
	/* max-width: 620px; */
	/* width:  100% !important; */
	/* height:  auto; */
	width: 1920px;
	margin:  0px auto;
	/* max-width: 1130px; */
}

table.leftside {
	margin: 0 10px 10px 0;
}

table.rightside {
	margin: 0 0 10px 10px;
}


#avatar-detail table.image td img {
	max-width: 620px; /*600px*/
}


/* end tin lien quan*/

#tags a.tag {
	background: #EEEEEE;
	border: 1px solid #DDDDDD;
	border-radius: 13px 13px 13px 13px;
	display: inline-block;
	font: normal 11px/22px 'Arial';
	margin: 3px;
	padding: 0 7px;
	text-decoration: none;
}

#tags a.tag:hover {
	color: #0082C8;
}

#tags {
	margin-bottom: 10px;
	border-top: 1px solid #ddd;
	padding-top: 10px;
}

#tags span {
	background: url(../image/bg-tag.png) no-repeat left center;
	height: 15px;
	width: 37px;
	padding-right: 10px;
	color: #fff;
	font-weight: bold;
}

.ad_left {
	margin-bottom: 25px;
}

.banner-cate img {
	width: 300px;
}
#check-content {
	text-align: center;
}

.pagy {
	text-align: center;
	margin-top: 10px;
}

.pagy .btn {
	float: left;
	padding: 5px;
	display: none;
}

.pagy ul {
	width: auto !important;
}

.pagy ul li {
	display: inline;
	border: 1px solid #ccc;
	margin-left: 2px;
	padding: 2px 0;
}

.pagy ul li a{
	color: #16437F;
	padding: 2px 9px;
}

.pagy ul li a.active {
	background: #ccc;
}

.list110-1 li {
	margin-bottom: 10px;
}

.list110-1 li .avatar {
	width: 150px;
	max-height: 130px;
	overflow: hidden;
	float: left;
	margin-right: 15px;
}

.list110-1 li .avatar img {
	width: 150px;
}

.list110-1 li em {
	background: yellow;
}

#hoctap-hcm {
	display: none;
}

#hoctap-hcm .cate-header .cate-title{
	text-align: center;
}

#hoctap-hcm .cate-header .cate-title a{
	font-size: 17px;
}

#hoctap-hcm .list-simple {
	padding: 10px 0;
}

#hoctap-hcm .list-simple li {
	padding: 7px 10px 0 10px;
	margin-top: 7px;
	border-top: none;
}

#hoctap-hcm .list-simple li a.title {
	color: #16437F;
}

#hoctap-hcm .list-simple li.first {
	padding-top: 0;
	margin-top: 0;
}

#hoctap-hcm .list-simple li.first .lead {
	margin-top: 5px;
}

#hoctap-hcm .list-simple li.first a.title {
	font-weight: bold;
	font-size: 13px;
}

/*menu m?i*/
#menu {
	/* border: 1px solid #bbb9ba; */
	border-bottom: none;
}

#sub-menu .tabcontent {
    display: none;
}

#tabmenu {
	background: #fff;
	width: 978px;
	top: 0;
	z-index:999;
	border-top: 2px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	color: #FFFFFF;
	height: 30px;
	line-height: 30px;
}
#main-menu {
	font-size: 11px;
	line-height: 23px;
	background:#ce1417;
}

#main-menu li,#main-menu li span, #main-menu li a {
	display: inline;
	height: 30px;
	line-height: 25px;
}

#main-menu li a {
	background: url("../image/border-menu.gif") no-repeat left center;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}

#tabmenu li a em {
	font-style: normal;
	padding: 0 11px;
/*	word-spacing: -0.5px;*/
}

#tabmenu li.current {
	/*background: #274c82;*/
}

#tabmenu li.current a {
	color: #ce1417;
}

#tabmenu li a.home {
	background: none;
}

#tabmenu li .home em {
	background: url('../image/icon-home.png') no-repeat center;
	padding: 0 15px;
	font-size: 18px;
}

.tabcontainer li {
	float: left;
	margin-left: 5px;
	padding-left: 5px;
}

.tabcontainer li.first {
	margin: 0;
	padding: 0;
}

.tabcontainer li a {
	border-left: 1px solid #868D9D;
	color: #024574;
	font: 12px arial;
	padding: 0 10px;
	text-decoration: none;
}

.tabcontainer li.first a {
	border: none;
	padding-left: 5px;
}

.tabcontainer {
	background: #f3f3f3;
	color: #868D9D;
	font: 11px arial;
	height: 29px;
	line-height: 29px;
	padding: 0 3px;
}

.tabcontainer #ct3 {
	margin-left: 85px;
}

.tabcontainer #ct4 {
	margin-left: 100px;
}

.tabcontainer #ct5 {
	margin-left: 230px;
}

.tabcontainer #ct6 {
	margin-left: 260px;
}

.tabcontainer #ct7 {
	margin-left: 390px;
}

.tabcontainer #ct8 {
	margin-left: 360px;
}

.tabcontainer #ct9 {
	margin-left: 640px;
}

.tabcontainer #ct10 {
	margin-left: 260px;
}

.tabcontainer #ct11 {
	margin-left: 600px;
}

.tabcontainer #ct12 {
	margin-left: 755px;
}

.menuheader {
	position: relative;
}

.menuheader .lang {
	background: url("../image/border-menu.gif") no-repeat left center;
	position: absolute;
	right: 0;
	top:0;
/*	background: url(../image/bg-lang.gif) repeat-x left top !important;*/
	text-align: center;
	width: 62px;
}

.menuheader .lang a {
	color: #ce1417 !important;
	font-weight: bold;
}

#bandoc-tulieu ul.tabs a {
	text-transform: none !important;
}

#bandoc-tulieu ul.tabs a.first {
	border-left: none;
}

.bandoc-tulieu {
	margin-bottom: 5px;
}

.bandoc-tulieu .panes {
	border: 1px solid #ccc;
	border-top: none;
}

.bandoc-tulieu .panes ul {
	padding: 10px;
}

.bandoc-tulieu .list-simple li {
	background: url(../image/tamgiac.gif) no-repeat left 7px;
	padding-left: 8px;
	margin-top:3px;
	padding-top: 3px;
}

.bandoc-tulieu .list-simple li.first {
	margin-top: 0;
	padding-top: 0;
	background: none;
	padding-left: 0;
}

.bandoc-tulieu .list-simple li.first .col-avatar {
	display: table-cell;
}

.bandoc-tulieu .list-simple li.first .col-avatar .avatar {
	width: 210px;
	height: 110px;
	overflow: hidden;
}

.bandoc-tulieu .list-simple li.first .col-avatar .avatar img {
	width: 210px;
	height: 110px;
	margin-right: 10px;
}

.bandoc-tulieu .list-simple li.first .col-title {
	display: table-cell;
	vertical-align: top;
}


.bandoc-tulieu .list-simple li.first .lead {
	margin-top: 5px;
}

.bandoc-tulieu .cate-title {
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 5px;
}

.bandoc-tulieu .cate-title a {
	color: #999;
}

.bandoc-tulieu .viewall {
	padding: 0 10px 10px 10px;
	text-align: right;
}

.bandoc-tulieu .viewall a {
	font-style: italic;
	color: #a92c2a;
}

/*dnct*/
#cate-dnct, #videoclip-thethao {
	 border-bottom: 1px solid #CCCCCC;
	 padding-bottom: 15px;
}

#cate-dnct .newsfirst  {
	border-bottom: none;
	margin-bottom: 15px;
}

#videoclip-thethao {
	margin-bottom: 15px;
}

#videoclip-thethao ul li{
	float: left;
	width: 150px;
	margin-left: 15px;
}

#videoclip-thethao ul li a {
	color: #053777;
}

#videoclip-thethao ul li.first {
	margin-left: 0;
}

#videoclip-thethao ul li .avatar {
	width: 150px;
	height: 85px;
	overflow: hidden;
	margin-bottom: 5px;
	position: relative;
}

#videoclip-thethao ul li .avatar img {
	width: 150px;
	height: 85px;
}

#videoclip-thethao ul li .icon-video {
	position: absolute;
	bottom: 2px;
	left: 2px;
}

#videoclip-thethao ul li .icon-video img {
	width: 25px;
	height: 25px;
}

#hotnews .tabs {
	background: none;
	border-bottom: 2px solid #e6e6e6;
	padding: 0;
}

#hotnews .tabs li a {
	background: #f6f6f6;
	border: 2px solid #e6e6e6;
	border-radius: 5px 5px 0px 0px;
	margin-right: 3px;
	line-height: 28px;
}

#hotnews .tabs li.ui-state-active a {
	color: #a92c2a;
	border-bottom: none !important;
	line-height: 30px;
}

.social .toolshare {
	display: none;
}
.social .toolshare {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.social a {
	background: url(../image/widget.png) no-repeat;
	margin: 5px 0;
	text-indent: 30px; /*-9999px;*/
	font-size: 11px;
	padding-left: 0px;
	display: block;
}

.social a.facebook {
	background-position: 0 -32px;
	margin-left: 0;
}

.social a.linkhay {
	background-position: 0 -129px;
}

.social a.google {
	background-position: 0 0;
}

.social a.twitter {
	background-position: 0 -150px;
}

.social a.addthis {
	background-position: 0 -96px;
}

.social a.print {
	background-position: 0 -112px;
}

.social a.email {
	background: url(../image/icon-email.gif) no-repeat left top;
}

.feedback {
	display: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	text-transform: uppercase;
	margin-top: 15px;
}

.feedback a {
	text-decoration: none;
	cursor: pointer;
}

.box-feedback {
	background: #fff;
	border-top: 2px solid #950d00;
	width: 645px;
	box-shadow: 4px 4px 5px #888888;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.fb-tool .close {
	background: url(../image/close.gif) no-repeat;
	width: 14px;
	height: 14px;
	float: right;
	cursor: pointer;
	display: none;
}

.fb-tool span {
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	display: none;
}

.fb-tool {
	border-bottom: 1px solid #ccc;
	/*padding: 10px 10px 7px 10px;*/
}

.article-tools .addthis_button {
	display: block;
}

#title-detail {
	font-weight: bold;
	padding: 5px 10px;
}

#date-article {
	padding: 0 10px 10px 10px;
	font-size: 11px;
	color: #999;
}

#tieudiem-cate ul.list-simple {
	background: #f6f6f6;
}

#tieudiem-cate ul.list-simple li {
	padding: 7px 10px 0 10px;
}

#diendan-doanhnghiep {
	display: none;
}

.tool_top .social a {
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.tool_top .social {
	float: right;
}

.article .tool_top .date {
	float: left;
}

.article .othernews.relatednews .cate-title {
	border-top: none;
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.relatednews.othernews ul.list-simple li {
	width: 153px;
	margin-left: 10px;
	padding-top: 0;
}

.relatednews.othernews ul.list-simple li .avatar img {
	width: 100%;
	height: auto;
}

.relatednews.othernews ul.list-simple li.first {
	margin-left: 0;
}

.relatednews.othernews ul.list-simple li .avatar {
	width: 153px;
	height: 88px;
	margin-top: 0;
}
.ad_right img, .ad_right embed{
	margin-bottom: 10px;
}

/*box du lich da nang*/
.row110-5 .cate-header {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.row110-5 .cate-header .cate-title {
	float:left;
	padding-right: 10px;
}

.row110-5 .sub-cate {
	padding-top: 5px;
}

.row110-5 .sub-cate li {
	display: inline;
	padding: 0 5px 0 7px;
	background: url(../image/border-menu.gif) no-repeat left 2px;
}

.row110-5 .sub-cate li:first-child {
	background: none;
}

.row110-5 .sub-cate li a {
	font-weight: bold;
}

.row110-5 .item {
	width: 310px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

.row110-5 .item .avatar{
	width: 310px;
	overflow: hidden;
}

.row110-5 .item .avatar img {
	width: 310px;
	height: 200px;
}

.row110-5 .item .m-title {
	position: absolute;
	bottom: 0;
	width: 290px;
	padding: 5px 10px;
	min-height: 20px;
	background:#000;
	opacity: 0.6;
	filter: anpha(opacity=60);
	min-height: 30px;
}

.row110-5 .item .m-title a {
	color: #fff;
	font-weight: bold;
}

/*Tin anh*/

.photo_type {
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
	margin-top: 15px;
	text-align: center;
	background: #efefef;
	width: 100%;
}

.photo_type .des {
	background: #666;
	padding: 10px;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}
#content .photo_type .des a.find {
	color: #00F;
}
.photo_type .image img {
	max-width: 629px;
	max-height: 400px;
	display: block;
	margin: 0 auto;
}
.photo_type .prev, .photo_type .next {
	display: block;
	position: absolute;
	width: 37px;
	height: 100%;
	z-index: 2;
	top: 0;
	opacity: 0.9;
	cursor: pointer;
}
.photo_type .prev {
	background: url(../image/arrow.left.png) no-repeat right center;
}
.photo_type .next {
	background: url(../image/arrow.right.png) no-repeat right center;
	right: 0;
}
.photo_type .prev:hover, .photo_type .next:hover {
	opacity: 1;
}
#fullscreen {
	background: url(../image/fullscreen.png) no-repeat;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 13px;
	height: 13px;
	cursor: pointer;
	z-index: 9;
}
.photo_type .facebook {
	background: url(../image/tinanh_share_fb.png) no-repeat;
	display: block;
	width: 90px;
	height: 25px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
}

#related-news-tinanh {
	border: 1px solid #ccc;
}

#related-news-tinanh .item img {
	width: 100%;
	margin-bottom: 5px;
}

#related-news-tinanh .item .title {
	color: #333;
	font-style: italic;
	font-size: 17px;
}
#related-news-tinanh .item p {
	padding: 0 10px;
}
#related-news-tinanh .item {
	margin-bottom: 10px;
}

#related-news-tinanh {
	margin-bottom: 15px;
	background: #f7f7f7;
}
#related-news-tinanh .box-title {
	padding: 5px ;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}

.other_tinanh .first img {
	max-width: 100%;
}
.other_tinanh .first {
	text-align: center;
	background: #efefef;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.other_tinanh .first .image {
	display: block;
	max-height: 600px;
	overflow: hidden; 
	margin-bottom: 5px;
}

.others .list-full-5 a.avatar img {
    height: 100px;
}

table.lastest-news{font:normal 13px/20px 'Vedanar, Arial'}table.lastest-news{width:300px;margin-bottom:14px;background:#ffb;border-collapse:collapse;border-bottom:1px solid #000;font:normal 14px/20px 'Time News Roman'}table.lastest-news td{padding:5px 10px;text-align:left}table.lastest-news tr{border-bottom:1px dotted #999}table.lastest-news tr:first-child{border-bottom:2px solid}table.lastest-news tr:last-child{border-bottom:0}table.lastest-news .box-title{text-transform:uppercase;letter-spacing:-0.1px;color:#000;font-weight:bold}table.lastest-news .sub-title{margin-right:5px;color:#b71031;font-weight:normal;font-size:12px;text-transform:uppercase}table.lastest-news .lead{margin-left:5px;font-weight:normal;display:none}
.tin-anh .back-color{background-color: #f18d05}
#page-nav .tin-anh .text-color, #header .tin-anh .text-color {
	color: #f18d05;
}

.photo_type .page_number {
	position: absolute;
	bottom: 5px;
	right: 10px;
	color: #f18d05;
}

#photo_type_content .image {
	background: #000;
	display: table-cell;
	height: 400px;
	position: relative;
	vertical-align: middle;
	width: 629px;
}

.carousel img {
	width: 100%;
}

.list_thumbnail {
	background: #000;
	padding: 4px 12px 12px 12px;
	margin-top: 1px;
}

.photo_type .list_thumbnail .carousel ul li {
	float: left;
	height: 82px;
	width: 110px;
	margin-right: 12px;
	cursor: pointer;
	overflow: hidden;
	padding-top: 8px;
}

.photo_type .list_thumbnail .carousel ul li a {
	display: block;
	height: 82px;
}

.photo_type .list_thumbnail .carousel {
	position: relative;
	height: 92px;
	overflow: hidden;
	margin: 0 auto;
}

.photo_type .list_thumbnail .carousel ul {
	position: relative;
}

.photo_type .list_thumbnail .carousel ul li.active a {
	border: 3px solid #ffd368;
	height: 76px;
	overflow: hidden;
}

.photo_type .list_thumbnail .carousel ul li.active {
	background: url(../image/slideshow_arrow.png) no-repeat center top;
}
.provider {
	display: none;
}

#go_top {
    background-image: url("../image/totop.png");
    bottom: 40px;
    display: none;
    height: 46px;
    opacity: 0.5;
    position: fixed;
    right: 15px;
    width: 46px;
}
/******* multimedia *************/
#header-multi{
	/* background-color:#464646; */
	display: inherit;
	position:  relative;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.header-center{
	/* text-align:center; */
	width:  170px;
	margin: 0px auto;
}
.header-right2{
	float:right;
	margin-top: 10px;
	}
.footer-menu .back-top {
    float: right;
    cursor: pointer;
    padding-left: 20px;
    /* position: relative; */
    margin-right: -85px !important;
}
table.image td img {
    max-width: 100%;
}
.footer-menu ul {
    float: none !important;
    width: 725px;
    margin:  0px auto;
    padding-top: 5px;
}
.footer-menu ul li{
    padding: 0 10px;
    display: inline-block;
}
.footer-content{
	/* width: 752px; */
	margin: 0px auto;
}
#footer {
    position: relative;
}
#footer .menu-bottom a {
    color: #fff;
}
#footer .menu-bottom {
    background: transparent url("../image/footer-bg.gif") repeat scroll 0 0;
    height: 28px;
    line-height: 28px;
}
#footer .menu-bottom li {
    color: #ffffff;
    float: left;
    margin-left: 20px;
    padding-left: 30px;
}
#footer .menu-bottom .set-home-page {
    background: transparent url("../image/home_footer.png") no-repeat scroll left center;
    height: 28px;
    margin-left: 10px;
}
#footer .menu-bottom .contact-us {
    background: transparent url("../image/contact-us.png") no-repeat scroll left center;
    padding-left: 33px;
}
#footer .menu-bottom .contact-ad {
    background: transparent url("../image/contact-ad.png") no-repeat scroll left center;
}
#footer .menu-bottom .hot-line {
    background: transparent url("../image/hot-line.png") no-repeat scroll left center;
}
#footer .menu-bottom .site-map {
    display: none;
}

#footer .info p {
    margin: 0 0 5px;
}
#footer .info {
    margin-top: 10px;
    /* width: 100%; */
    padding-bottom: 10px;
    /* text-align: center; */
    width: 980px;
    margin: 0px auto;
}
#footer .info .provider {
    display: none;
}
#footer {
    margin-top: 25px;
.footer {
    color: #333;
    background:#e4e4e4;
    border-top:1px solid #c9c9c9;
    position:relative;  }  .footer:before{
    content:"";
    background:#0d2c41;
    width:100%;
    height:10px;
    display:none;  }  .footer-content{
    padding:7px 0;
    width:100%;
    float:left;}  .footer-content-left{
    float:left;  }  .footer-content-right{
    float:right;  }  .footer-content
    h3{      font-size:16px;
    line-height:20px;
    font-weight:bold;  }  .footer-content
    p{      font-size:13px;
    margin-top:5px;  }  .footer-content
    p span{      font-weight:400;  }  .social{
    float:right;
    margin-top:30px;  }  .social >
    li{      float:left;  }  .social >
    li a {      background: url('../image/home/social.png') no-repeat;
    width: 30px;
    height: 26px;
    display: block;  }  .social >
    li a.link_google_plug{      background-position: 0 0;  }  .social >
    li a.link_face{      background-position: -31px 0;  }  .social >
    li a.link_twitter{      background-position: -67px 0;  }  .copyright{
    font-size:12px;
    border-top:1px solid #c9c9c9;
    padding:15px 0;
    text-align:center;  }
    color: #333;
    background: #e4e4e4;
    border-top: 1px solid #c9c9c9;
    position: relative;
    padding: 10px 0px;
}
#footer ul {
    float: none !important;
    width: 725px;
    margin: 0px auto;
    
}
figure{
	margin: 0px;
}
.footer-content-left {
    float: left;
}
.footer-content p {
    font-size: 15px;
    margin-top: 5px;
}
.footer-content-right {
    float: right;
}

.copyright{
    font-size:12px;
    border-top:1px solid #c9c9c9;
    padding:15px 0;
    
}
.footer-content{
	 font-family: Arial, 'Roboto', sans-serif;
}
.copyright .w_inner{
	 font-family: Arial, 'Roboto', sans-serif;
	 padding: 0px 5px;
}
.copyright .w_inner span{
	padding:0px 5px;
}