<template>
    <div class="row">
        <div class="col-xs-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 v-if="!company.id" class="box-title">
                        <i class="fa fa-plus-square"></i> Thêm Công ty</h3>
                    <h3 v-else class="box-title">
                        <i class="fa fa-edit"></i> Sửa Công ty</h3>
                </div>
                <div class="box-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Tên Công ty</label>
                            <input type="text" class="form-control" v-model="company.name"
                                   placeholder="Tên Công ty">
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input type="text" class="form-control" v-model="company.phone"
                                   placeholder="Số điện thoại">
                        </div>
                        <div v-if="company.id" class="form-group">
                            <label>Đường dẫn</label>
                            <input type="text" class="form-control" v-model="company.slug"
                                   placeholder="Đường dẫn">
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input type="text" class="form-control" v-model="company.address"
                                   placeholder="Địa chỉ">
                        </div>
                        <div class="form-group">
                            <label>Website</label>
                            <input type="text" class="form-control" v-model="company.website"
                                   placeholder="WEB">
                        </div>
                        <div class="form-group">
                            <label>Tỉnh thành</label>
                            <model-select :options="params.provinces"
                                          v-model="company.province_id"
                                          placeholder="Tỉnh thành">
                            </model-select>
                        </div>
                        <div class="form-group">
                            <label>Quận huyện</label>
                            <select v-model="company.district_id" class="form-control">
                                <option value="">Quận huyện</option>
                                <option v-for="item in params.districts"
                                        v-if="item.province_id === company.province_id" :value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            <textarea type="text" class="form-control" placeholder="Mô tả" rows="5"
                                      v-model="company.description" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Người liên hệ</label>
                            <input type="text" class="form-control" v-model="company.contact_name"
                                   placeholder="Người liên hệ">
                        </div>
                        <div class="form-group">
                            <label>Email liên hệ</label>
                            <input type="text" class="form-control" v-model="company.contact_email"
                                   placeholder="Email liên hệ">
                        </div>
                        <div class="form-group">
                            <label>Điện thoại liên hệ</label>
                            <input type="text" class="form-control" v-model="company.contact_phone"
                                   placeholder="Điện thoại liên hệ">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button @click="onSubmit()" type="submit" class="btn btn-success btn-flat pull-right">
                            <span v-if="!company.id"> Tạo mới</span>
                            <span v-else>Cập nhật</span>
                        </button>
                        <button v-on:click.prevent="setNullcompany" type="reset"
                                class="btn btn-danger btn-flat pull-left">
                            <span>Hủy</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input type="text" v-model="search.name" placeholder="Tên Công ty"
                                   class="form-control">
                        </div>
                        <div class="col-md-4">
                            <model-select :options="params.provinces"
                                          v-model="search.province_id"
                                          placeholder="Tỉnh thành">
                            </model-select>
                        </div>
                        <div class="col-md-4">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>#ID</th>
                            <th width="20%">Tên Cty</th>
                            <th>SDT</th>
                            <th width="30%">Địa chỉ</th>
                            <th>Website</th>
                            <th width="15%">Thao tác</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.id}}</td>
                            <td>
                                {{item.name}}
                            </td>
                            <td>{{item.phone}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.website}}</td>
                            <td>
                                <button @click="editcompany(item)" class="btn btn-sm btn-info btn-flat">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button @click="deletecompany(item)" class="btn btn-sm btn-danger btn-flat">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>

<script>
    window.$ = window.jQuery = require("jquery");
    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect
        },

        data() {
            return {
                params: {
                    data: "",
                    provinces: [],
                    districts: []
                },
                search: {
                    name: "",
                    province_id: null,
                    per_page: 10
                },
                offset: 4,
                company: {
                    name: "",
                    phone: '',
                    address: '',
                    website:'',
                    province_id: null,
                    district_id: null,
                    description: '',
                    slug: "",
                    contact_name: '',
                    contact_email: '',
                    contact_phone: ''
                },
                userID: window.TraiThiVang.user.id
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
            this.fetchProvince();
            this.fetchDistrict();
        },
        methods: {
            fetchProvince(url) {
                url = url || "/api/industrialzone/province";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.provinces = response.data.data;
                    });
            },
            fetchDistrict(url) {
                url = url || "/api/crawl/district";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.districts = response.data.data;
                    });
            },
            fetchIndustrialZone(url) {
                url = url || "/api/crawl/industrial-zone";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.industrial_zone = response.data.data;
                    });
            },
            fetch(url) {
                url = url || "/api/company";
                window.axios
                    .get(url, {
                        params: this.search
                    })
                    .then(response => {
                        this.params.data = response.data.data;
                    });
            },
            editcompany: function (item) {
                this.company = item;
            },
            deletecompany: function (item) {
                this.company = item;
            },
            onSubmit: function () {
                if (this.company.name.trim() === '') {
                    this.$notify("alert", "Chưa nhập tên Công ty", 'error');
                    return false;
                }
                if (this.company.description === '') {
                    this.$notify("alert", "Chưa nhập mô tả", 'error');
                    return false;
                }
                window
                    .axios({
                        method: !this.company.id ? "post" : "put",
                        url: !this.company.id ? "/api/company/create" : "/api/company/update",
                        data: this.company
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            this.setNullcompany();
                            if (!this.company.id) {
                                this.fetch();
                            }
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            setNullcompany: function () {
                this.company = {
                    name: "",
                    description: '',
                    slug: "",
                    seo_title: '',
                    seo_description: '',
                    seo_keywords: ''
                }
            }
        }
    };
</script>