<template>
    <div class="row">
        <modal style="top: 50px" transition="nice-modal-fade"
               :scrollable="true"
               :pivot-y="0.5"
               width="60%"
               height="auto"
               :adaptive="true"
               name="modal-upload-media"
               @shown="">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-plus-square"></i> Tải lên thư viện
                    </h3>
                </div>
                <div class="box-body">
                    <dropzone id="vueDropzone" ref="vueDropzone" url="/api/media" :headers="custom_headers"
                              :thumbnailHeight=120
                              :thumbnailWidth=120 :useFontAwesome=true :maxNumberOfFiles=20 :maxFileSizeInMB=128
                              :timeout=300000
                              :resizeWidth=1024 :acceptedFileTypes="'image/*,video/mp4'">
                    </dropzone>
                    <span class="text-danger">
                         <i class="fa fa-info"></i>
                        Chỉ cho phép upload các định dạng sau: Ảnh: (png, jpg, jpeg). Video (mp4)
                    </span>
                    <div class="box-footer">
                        <button @click="fetch('/api/media')" type="submit" class="btn btn-success btn-flat pull-right">
                            <span> Ok</span>
                        </button>
                        <button v-on:click.prevent="setNullQuestion" type="reset"
                                class="btn btn-danger btn-flat pull-left">
                            <span>Hủy</span>
                        </button>
                    </div>
                </div>
            </div>


        </modal>
        <modal style="top: 50px" transition="nice-modal-fade"
               :scrollable="true"
               :pivot-y="0.5"
               width="60%"
               height="auto"
               :adaptive="true"
               name="modal-select-media"
               @shown="">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-plus-square"></i> Tải lên thư viện
                    </h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <input type="text" placeholder="Tên ảnh/video" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control">
                                            <option v-for="item in media_type" v-bind:value="item.value">{{ item.text}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                            <i class="fa fa-search"> Tìm kiếm</i>
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button @click="show()" class="btn btn-block btn-danger">
                                            <i class="fa fa-cloud-upload"></i> Upload
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button @click="chooseMedia()" class="btn btn-block btn-dark">
                                            <i class="fa fa-angle-double-right"></i> Chọn
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="row">
                                <div v-for="(item, idx) in params.data.data" class="text-center item-media col-md-3">
                                    <img :title="item.alt" :alt="item.alt"
                                         v-bind:src="item.thumbnail ? item.thumbnail : '/img/placeholder_640x360.jpg'"
                                         v-model="params.data.data[idx]"
                                         v-bind:class="hasSelect(item) !== -1 ? 'img-fluid item-selected' : 'img-fluid'"
                                         v-on:click="selectImage(item, $event)"/>

                                    <template v-if="item.media_type === 'video'">
                                <span class="play-icon">
                                    <i class="fa fa-4x fa-play-circle-o"></i>
                                </span>
                                    </template>
                                    <button v-if="hasSelect(item) !== -1" type="button" class="button-link check"
                                            tabindex="0"
                                            v-model="params.data.data[idx]" v-on:click="selectImage(item, $event)">
                                <span class="media-icon">
                                    <i ref="checkIcon" class="fa fa-check" style="color: #fff !important;"></i>
                                </span>
                                    </button>
                                </div>
                                <template
                                        v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                                    <div class="col-md-6" style="margin-top: 20px">
                                        <div class="form-inline">
                                            <label class="control-label">Hiển thị </label>
                                            <label>
                                                {{showInfoPagination()}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <nav aria-label="Page navigation" class="pull-right">
                                            <ul class="pagination">
                                                <li v-model="params.data.prev_page_url"
                                                    v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                                    <a class="page-link" href="javascript:void(0);"
                                                       v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                                        <i class="fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>

                                                <li v-for="page in pagesNumber"
                                                    :class="{'active': page == params.data.current_page}">
                                                    <a href="javascript:void(0);"
                                                       v-on:click="fetch(params.data.path + '?page=' +page)">{{ page
                                                        }}</a>
                                                </li>

                                                <li v-model="params.data.next_page_url"
                                                    v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                                    <a class="page-link" href="javascript:void(0);"
                                                       v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Thông tin tuyển dụng</h3>
            </div>
            <div class="form-horizontal">
                <div class="col-xs-9">
                    <br>
                    <div class="form-group">
                        <label for="job_title" class="col-sm-3 control-label">Vị trí tuyển dụng</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="job_title" v-model="jobpost.job_title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Công ty</label>
                        <div class="col-sm-9">
                            <model-select :options="params.companies"
                                          v-model="jobpost.company_id"
                                          placeholder="Công ty">
                            </model-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ngành nghề</label>
                        <div class="col-sm-9">
                            <model-select :options="params.jobCarrer"
                                          v-model="jobpost.carrer_id"
                                          placeholder="Ngành nghề">
                            </model-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="number" class="col-sm-3 control-label">Số lượng cần tuyển</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="number" v-model="jobpost.number_of_recruitment">
                        </div>
                        <label class="col-sm-3 control-label">Giới tính</label>
                        <div class="col-sm-3">
                            <model-select :options="params.jobGender"
                                          v-model="jobpost.gender"
                                          placeholder="Giới tính">
                            </model-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Hình thức làm việc</label>
                        <div class="col-sm-3">
                            <model-select :options="params.jobType"
                                          v-model="jobpost.job_type_id"
                                          placeholder="Hình thức">
                            </model-select>
                        </div>
                        <label class="col-sm-3 control-label">Trình độ</label>
                        <div class="col-sm-3">
                            <model-select :options="params.jobLevel"
                                          v-model="jobpost.job_level_id"
                                          placeholder="Trình độ">
                            </model-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kinh nghiệm</label>
                        <div class="col-sm-3">
                            <model-select :options="params.jobExper"
                                          v-model="jobpost.job_experience_id"
                                          placeholder="Kinh nghiệm">
                            </model-select>
                        </div>
                        <label class="col-sm-3 control-label">Mức lương</label>
                        <div class="col-sm-3">
                            <model-select :options="params.jobSalary"
                                          v-model="jobpost.job_salary_id"
                                          placeholder="Mức lương">
                            </model-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Vị trí</label>
                        <div class="col-sm-3">
                            <model-select :options="params.jobPosition"
                                          v-model="jobpost.job_position_id"
                                          placeholder="Vị trí">
                            </model-select>
                        </div>
                        <label class="col-sm-3 control-label">Hạn nộp</label>
                        <div class="col-sm-3">
                            <date-picker v-model="jobpost.ended_at" :config="config"></date-picker>
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-3 control-label">Tỉnh thành</label>
                        <div class="col-sm-3">
                            <model-select :options="params.provinces"
                                          v-model="jobpost.province_id"
                                          placeholder="Tỉnh thành">
                            </model-select>
                        </div>
                        <label class="col-sm-3 control-label">Quận huyện</label>
                        <div class="col-sm-3">
                            <select v-model="jobpost.district_id" class="form-control">
                                <option value="">Quận huyện</option>
                                <option v-for="item in params.districts"
                                        v-if="item.province_id === jobpost.province_id" :value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mô tả công việc</label>
                        <div class="col-sm-9">
                            <vue-tinymce v-model="jobpost.job_description" v-bind:data="jobpost.job_description"
                                         height="250"
                            ></vue-tinymce>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Yêu cầu công việc</label>
                        <div class="col-sm-9">
                            <vue-tinymce v-model="jobpost.job_requirement" v-bind:data="jobpost.job_requirement"
                                         height="250"
                            ></vue-tinymce>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Quyền lợi được hưởng</label>
                        <div class="col-sm-9">
                            <vue-tinymce v-model="jobpost.job_benefit" v-bind:data="jobpost.job_benefit" height="250"
                            ></vue-tinymce>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Yêu cầu hồ sơ</label>
                        <div class="col-sm-9">
                            <vue-tinymce v-model="jobpost.job_cv" v-bind:data="jobpost.job_cv" height="250"
                            ></vue-tinymce>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Ảnh thumb</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#pick-thumbnail" @click="selectMedia(true)">
                                        <img class="img-fluid"
                                             :src="jobpost.thumb ? (jobpost.thumb) : '/img/placeholder-image.png'"
                                             v-model="jobpost.thumb"/>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="col-md-10">
                    <div class="form-group text-center">
                        <button @click="onSubmit()" type="button" class="btn btn-danger center">Tạo công việc</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {ModelSelect} from 'vue-search-select';
    import Dropzone from 'vue2-dropzone';

    export default {
        components: {
            ModelSelect,
            Dropzone
        },

        data() {
            return {
                is_select_thumb: true,
                params: {
                    data: '',
                    provinces: [],
                    districts: [],
                    industrial_zone: [],
                    jobType: [],
                    jobLevel: [],
                    jobSalary: [],
                    jobExper: [],
                    jobPosition: [],
                    jobCarrer: [],
                    companies: [],
                    jobGender: [
                        {
                            value: 1,
                            text: 'Nam'
                        },
                        {
                            value: 2,
                            text: 'Nữ'
                        },
                        {
                            value: 3,
                            text: 'Tất cả'
                        }
                    ]
                },
                jobpost: {
                    job_title: '',
                    carrer_id: null,
                    number_of_recruitment: 0,
                    job_type_id: null,
                    gender: 1,
                    job_experience_id: null,
                    job_salary_id: null,
                    job_position_id: null,
                    job_level_id: null,
                    ended_at: null,
                    province_id: null,
                    district_id: null,
                    job_description: '',
                    job_requirement: '',
                    job_benefit: '',
                    job_cv: '',
                    company_id: null,
                    thumb: ''
                },
                company: {},
                userID: window.TraiThiVang.user.id,
                config: {
                    format: "YYYY-MM-DD",
                    useCurrent: true,
                    sideBySide: true
                },

                search: {
                    name: "",
                    per_page: 10
                },
                media: {},
                pagination: '',
                media_type: [
                    {text: 'Vui lòng chọn', value: ''},
                    {text: 'Ảnh', value: 'image'},
                    {text: 'Video', value: 'video'}
                ],
                selectedImage: [],
                editMedia: {},
                offset: 2,
                custom_headers: {
                    'Authorization': 'Bearer ' + window.TraiThiVang.user.api_token,
                    'AuthenticatedUser': window.TraiThiVang.user.id
                },
                select_thumbnail: 'thumbnail'
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetchProvince();
            this.fetchDistrict();
            this.fetchIndustrialZone();
            this.fetchJobType();
            this.fetchJoblevel();
            this.fetchJobExper();
            this.fetchJobSalary();
            this.fetchJobPosition();
            this.fetchJobCarrer();
            this.fetchCompany();
            this.fetch('/api/media');
        },
        methods: {
            fetch: function (url) {
                url = url || "/api/media";
                window.axios
                    .get(url, {
                        params: this.search
                    })
                    .then(response => {
                        this.params.data = response.data.data;
                    });
                this.hide();
            },
            selectMedia: function (is_select_thumb) {
                this.is_select_thumb = is_select_thumb;
                // this.$refs.finder.removeSelection();
                this.selectMedia();
            },
            selectMedia() {
                this.$modal.show('modal-select-media');
            },
            show() {
                this.$modal.hide('modal-select-media');
                this.$modal.show('modal-upload-media');
            },
            hide() {
                this.$modal.hide('modal-upload-media');
            },
            onSubmit: function () {
                //ko co sde lien he ko cho submit
                if (this.jobpost.job_title === '') {
                    this.$notify("alert", "Nhập vị trí tuyển dụng!", 'error');
                    return false;
                }
                if (this.jobpost.company_id === null) {
                    this.$notify("alert", "Bạn chưa chọn công ty!", 'error');
                    return false;
                }
                if (this.jobpost.carrer_id === null) {
                    this.$notify("alert", "Bạn chưa chọn ngành nghề!", 'error');
                    return false;
                }
                if (this.jobpost.job_type_id === null) {
                    this.$notify("alert", "Bạn chưa chọn hình thức làm việc!", 'error');
                    return false;
                }
                if (this.jobpost.number_of_recruitment === 0) {
                    this.$notify("alert", "Bạn chưa nhập số lượng tuyển!", 'error');
                    return false;
                }
                if (this.jobpost.job_level_id === null) {
                    this.$notify("alert", "Bạn chưa chọn trình độ!", 'error');
                    return false;
                }
                if (this.jobpost.job_experience_id === null) {
                    this.$notify("alert", "Bạn chưa chọn kinh nghiệm!", 'error');
                    return false;
                }
                if (this.jobpost.job_salary_id === null) {
                    this.$notify("alert", "Bạn chưa chọn mức lương!", 'error');
                    return false;
                }
                if (this.jobpost.job_position_id === null) {
                    this.$notify("alert", "Bạn chưa chọn vị trí!", 'error');
                    return false;
                }
                if (this.jobpost.ended_at === null) {
                    this.$notify("alert", "Bạn chưa chọn hạn nộp!", 'error');
                    return false;
                }
                if (this.jobpost.province_id === null) {
                    this.$notify("alert", "Bạn chưa chọn tỉnh thành!", 'error');
                    return false;
                }
                window
                    .axios({
                        method: !this.jobpost.id ? "post" : "put",
                        url: !this.jobpost.id ? "/api/job/create" : "/api/crawl/update",
                        data: this.jobpost
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            fetchCompany(url) {
                url = url || "/api/job/company";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.companies = response.data.data;
                    });
            },
            fetchProvince(url) {
                url = url || "/api/crawl/province";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.provinces = response.data.data;
                    });
            },
            fetchDistrict(url) {
                url = url || "/api/crawl/district";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.districts = response.data.data;
                    });
            },
            fetchIndustrialZone(url) {
                url = url || "/api/crawl/industrial-zone";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.industrial_zone = response.data.data;
                    });
            },
            fetchJobType(url) {
                url = url || "/api/job/type";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.jobType = response.data.data;
                    });
            },
            fetchJoblevel(url) {
                url = url || "/api/job/level";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.jobLevel = response.data.data;
                    });
            },
            fetchJobExper(url) {
                url = url || "/api/job/exper";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.jobExper = response.data.data;
                    });
            },
            fetchJobSalary(url) {
                url = url || "/api/job/salary";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.jobSalary = response.data.data;
                    });
            },
            fetchJobPosition(url) {
                url = url || "/api/job/position";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.jobPosition = response.data.data;
                    });
            },
            fetchJobCarrer(url) {
                url = url || "/api/job/carrer";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.jobCarrer = response.data.data;
                    });
            },
            endDateFormat: function (date) {
                return moment(date, 'YYYY-MM-DD h:i:s').format('DD-MM-YYYY');
            },
            hasSelect: function (item) {
                return this.selectedImage.indexOf(item);
            },
            selectImage: function (item, event) {
                this.selectedFile = [];
                let index = this.hasSelect(item);
                if (index !== -1) {
                    this.selectedImage.splice(index, 1);
                    this.editMedia = {};
                } else {
                    this.selectedImage = [item];
                    this.editMedia = item;
                }

            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            chooseMedia: function () {
                if (this.select_thumbnail === "thumbnail") {
                    this.jobpost.thumb = this.selectedImage[0].file_url;
                }
                this.$modal.hide('modal-select-media');
            },
        }
    }
</script>
<style>
    .card-footer ul li {
        display: inline-block;
        padding: 0px;
        text-align: center;
    }

    #composite-image img {
        max-width: 480px;
        height: auto;
    }

    .play-icon {
        position: absolute;
        top: 15%;
        left: 40%;
        color: #fff;
    }

    .text-sm {
        font-size: 12px;
    }

    @media (min-width: 1366px) {
        .list-media {
            height: 400px !important;
        }
    }

    @media (min-width: 1600px) {
        .list-media {
            height: 500px !important;
        }
    }

    /* @media (min-width: 1920px) {
        .list-media {
            height: 570px !important;
        }
    }

    @media (max-width: 2550px){
        .list-media {
            height: 710px !important;
        }
    } */

    .bg-secondary {
        background: #dfdfdf;
    }

    .dz-message {
        font-size: 30px;
    }

    .edit-item {
        overflow-y: scroll;
        height: 400px;
    }

    img {
        width: 100%;
    }

    .item-selected {
        padding: 1px 1px;
        border: 4px solid #20a8d8;
    }

    .button-link {
        background-color: #0073aa;
        position: absolute;
        top: -10px;
        right: 10px;
        width: 30px;
    }

</style>