<template>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-plus-square"></i> Danh sách chuyên mục crawl</h3>
                </div>
                <div class="box">
                    <div class="box-header">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="text" v-model="search.name" placeholder="Tên chuyên mục"
                                       class="form-control">
                            </div>
                            <div class="col-md-3">
                                <select v-model="search.method" class="form-control">
                                    <option value="">Phương thức</option>
                                    <option v-for="item in params.methods" :value="item.name">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select v-model="search.sitecrawler_id" class="form-control">
                                    <option value="">Site Crawler</option>
                                    <option v-for="item in params.site_crawler" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                    <i class="fa fa-search"> Tìm kiếm</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>#ID</th>
                                <th>Tên</th>
                                <th>URL</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                            <tr v-for="item in params.data.data">
                                <td>{{item.id}}</td>
                                <td>
                                    {{item.name}}
                                </td>
                                <td>{{item.slug}}</td>
                                <td v-html="showStatus(item.is_active)"></td>
                                <td>
                                    <label v-if="item.is_active === 1" class="custom-control custom-checkbox">
                                        <input style="width: 20px; height: 20px" v-model="category_siteclient"
                                               type="checkbox" :id="'category_' + item.id"
                                               class="custom-control-input" :value="item">
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                            <div class="col-md-6">
                                <nav aria-label="Page navigation" class="pull-right">
                                    <ul class="pagination">
                                        <li v-model="params.data.prev_page_url"
                                            v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                            <a class="page-link" href="javascript:void(0);"
                                               v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>

                                        <li v-for="page in pagesNumber"
                                            :class="{'active': page == params.data.current_page}">
                                            <a href="javascript:void(0);"
                                               v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                        </li>

                                        <li v-model="params.data.next_page_url"
                                            v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                            <a class="page-link" href="javascript:void(0);"
                                               v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </template>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-internet-explorer"></i> <span class="badge bg-light-blue">{{siteclient.name}}</span>
                    </h3>
                    <button @click="postCategorySiteClient()" type="button" class="btn btn-sm btn-danger pull-right">
                        Cập nhật
                    </button>
                </div>
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>#ID</th>
                                <th>Chuyên mục crawl</th>
                                <th>URL crawl</th>
                            </tr>
                            <tr v-for="(item, idx) in category_siteclient">
                                <td>{{idx + 1}}</td>
                                <td><span class="badge bg-red">{{item.name}}</span></td>
                                <td>{{item.slug}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                params: {
                    data: '',
                },
                search: {
                    name: "",
                    method: "",
                    sitecrawler_id: "",
                    per_page: 25
                },
                siteclient: window.siteclient,
                category_siteclient: window.category || [],
                offset: 4,
                userID: window.TraiThiVang.user.id,
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetchCategory();
        },
        methods: {
            fetchCategory(url) {
                url = url || "/api/crawl/category";
                window.axios
                    .get(url, {
                        params: this.search
                    })
                    .then(response => {
                        this.params.data = response.data.data;
                    });
            },
            fetch(url) {
                url = url || '/api/crawl/site-client';
                window.axios.get(url).then(response => {
                    this.params.data = response.data.data;
                });
            },
            formatErrMessage(err) {
                let msg = "";
                let errorArray = window._.flatMapDepth(err.errors);
                errorArray.forEach(function (item) {
                    msg += item;
                });
                return msg;
            },
            showStatus(value) {
                if (value == 1) {
                    return '<i class="fa fa-check text-green"></i>';
                }
                return '<i class="fa fa-times-circle text-red"></i>';
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            postCategorySiteClient: function () {
                window
                    .axios({
                        method: "put",
                        url: "/api/crawl/add-category-siteclient",
                        data: {id: this.siteclient.id, category: this.category_siteclient}
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            this.setNullCategory();
                            this.fetch();
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            }
        }
    }
</script>
