<template>
    <div class="row">
        <div class="col-xs-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 v-if="!category.id" class="box-title">
                        <i class="fa fa-plus-square"></i> Thêm chuyên mục Crawl</h3>
                    <h3 v-else class="box-title">
                        <i class="fa fa-edit"></i> Sửa chuyên mục Crawl</h3>
                </div>
                <div class="box-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputName">Tên chuyên mục</label>
                            <input type="text" class="form-control" id="inputName" v-model="category.name"
                                   placeholder="Tên">
                        </div>
                        <div class="form-group">
                            <label for="inputUrl">Đường dẫn</label>
                            <input type="url" class="form-control" id="inputUrl" v-model="category.slug"
                                   placeholder="Địa chỉ Url">
                        </div>
                        <div class="form-group">
                            <label>Site crawl</label>
                            <select v-model="category.sitecrawler_id" class="form-control">
                                <option value="">Site Crawler</option>
                                <option v-for="item in params.site_crawler" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputUrl">Phương thức</label>
                            <select v-model="category.method" class="form-control">
                                <option value="">Phương thức</option>
                                <option v-for="item in params.methods" :value="item.name">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputUrl">Ngành nghề</label>
                            <model-select :options="params.carrers"
                                          v-model="category.carrer_id"
                                          placeholder="Ngành nghề">
                            </model-select>
                        </div>
                        <div class="form-group">
                            <label for="inputUrl">Tỉnh thành</label>
                            <model-select :options="params.provinces"
                                          v-model="category.province_id"
                                          placeholder="Tỉnh thành">
                            </model-select>
                        </div>
                        <div class="form-group">
                            <label for="inputUrl">Quận huyện</label>
                            <select v-model="category.district_id" class="form-control">
                                <option value="">Quận huyện</option>
                                <option v-for="item in params.districts"
                                        v-if="item.province_id === category.province_id" :value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputUrl">Khu Công nghiệp</label>
                            <select v-model="category.industrial_zone_id" class="form-control">
                                <option value="">Khu công nghiệp</option>
                                <option v-for="item in params.industrial_zone"
                                        v-if="item.province_id === category.province_id" :value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="removeKeyword">Xóa từ khóa</label>
                            <input type="text" class="form-control" id="removeKeyword" v-model="category.remove_keyword"
                                   placeholder="Địa chỉ Url">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button @click="onSubmit()" type="submit" class="btn btn-success btn-flat pull-right">
                            <span v-if="!category.id"> Tạo mới</span>
                            <span v-else>Cập nhật</span>
                        </button>
                        <button v-on:click.prevent="setNullCategory" type="reset"
                                class="btn btn-danger btn-flat pull-left">
                            <span>Hủy</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <input type="text" v-model="search.name" placeholder="Tên chuyên mục" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <select v-model="search.method" class="form-control">
                                <option value="">Phương thức</option>
                                <option v-for="item in params.methods" :value="item.name">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select v-model="search.sitecrawler_id" class="form-control">
                                <option value="">Site Crawler</option>
                                <option v-for="item in params.site_crawler" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>#ID</th>
                            <th>Tên/URL</th>
                            <th>Method</th>
                            <th>Trạng thái</th>
                            <th>Last Crawl</th>
                            <th width="15%">Thao tác</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.id}}</td>
                            <td>
                                {{item.name}}
                                <p class="text-muted">{{item.slug}}</p>
                            </td>
                            <td>{{item.method}}
                            </td>
                            <td v-html="showStatus(item.is_active)"></td>
                            <td>{{item.last_crawler}}</td>
                            <td>
                                <button @click="editCategory(item)" class="btn btn-sm btn-info btn-flat">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button @click="updateStatus(item,0)" class="btn btn-sm btn-danger btn-flat"
                                        v-if="item.is_active === 1">
                                    <i class="fa fa-times-circle"></i>
                                </button>
                                <button @click="updateStatus(item,1)" class="btn btn-sm btn-success btn-flat"
                                        v-if="item.is_active === 0">
                                    <i class="fa fa-check"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-md-6" style="margin-top: 20px">
                        <div class="form-inline">
                            <label class="control-label">Hiển thị </label>
                            <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                <option value="10">10 hàng</option>
                                <option value="25">25 hàng</option>
                                <option value="50">50 hàng</option>
                                <option value="100">100 hàng</option>
                            </select>
                            <label>
                                {{showInfoPagination()}}
                            </label>
                        </div>
                    </div>
                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>

<script>
    window.$ = window.jQuery = require("jquery");
    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect
        },

        data() {
            return {
                params: {
                    data: "",
                    site_crawler: [],
                    provinces: [],
                    districts: [],
                    industrial_zone: [],
                    carrers: [],
                    methods: [
                        {
                            name: "TuyenCongNhan"
                        },
                        {
                            name: "TuyenCongNhanIndustrial"
                        },
                        {
                            name: "TimViecNhanh"
                        },
                        {
                            name: "TimViecNhanh-NganhNghe"
                        },
                        {
                            name: "ViecTotNhat"
                        },
                        {
                            name:"HotelJob"
                        }
                    ]
                },
                search: {
                    name: "",
                    method: "",
                    sitecrawler_id: "",
                    per_page: 10
                },
                offset: 4,
                category: {
                    name: "",
                    slug: "",
                    sitecrawler_id: null,
                    province_id: null,
                    district_id: null,
                    industrial_zone_id: null,
                    carrer_id: null,
                    remove_keyword: "",
                    method: ""
                },
                userID: window.TraiThiVang.user.id
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
            this.fetchSiteCrawler();
            this.fetchProvince();
            this.fetchDistrict();
            this.fetchIndustrialZone();
            this.fetchCarrers();
        },
        methods: {
            fetch(url) {
                url = url || "/api/crawl/category";
                window.axios
                    .get(url, {
                        params: this.search
                    })
                    .then(response => {
                        this.params.data = response.data.data;
                    });
            },
            fetchSiteCrawler(url) {
                url = url || "/api/crawl/site-crawler";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.site_crawler = response.data.data;
                    });
            },
            fetchCarrers(url) {
                url = url || "/api/crawl/carrers";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.carrers = response.data.data;
                    });
            },
            fetchProvince(url) {
                url = url || "/api/crawl/province";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.provinces = response.data.data;
                    });
            },
            fetchDistrict(url) {
                url = url || "/api/crawl/district";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.districts = response.data.data;
                    });
            },
            fetchIndustrialZone(url) {
                url = url || "/api/crawl/industrial-zone";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.industrial_zone = response.data.data;
                    });
            },
            editCategory: function (item) {
                this.category = item;
            },
            updateStatus: function (item, status) {
                this.category = item;
                this.category.is_active = status;
                this.onSubmit();
            },
            onSubmit: function () {
                if (this.category.name.trim() === '') {
                    this.$notify("alert", "Chưa nhập tên chuyên mục", 'error');
                    return false;
                }
                if (this.category.slug.trim() === '') {
                    this.$notify("alert", "Chưa nhập đường dẫn chuyên mục", 'error');
                    return false;
                }
                if (this.category.sitecrawler_id === '') {
                    this.$notify("alert", "Chưa nhập site crawler", 'error');
                    return false;
                }
                window
                    .axios({
                        method: !this.category.id ? "post" : "put",
                        url: !this.category.id ? "/api/crawl/create-category" : "/api/crawl/update-category",
                        data: this.category
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            this.setNullCategory();
                            if (!this.category.id) {
                                this.fetch();
                            }
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            endDateFormat: function (date) {
                return moment(date, "YYYY-MM-DD h:i:s").format("DD-MM-YYYY");
            },
            showStatus(value) {
                if (value == 1) {
                    return '<i class="fa fa-check text-green"></i>';
                }
                return '<i class="fa fa-times-circle text-red"></i>';
            },
            setNullCategory: function () {
                this.category = {
                    name: "",
                    slug: "",
                    sitecrawler_id: null,
                    province_id: null,
                    district_id: null,
                    industrial_zone_id: null,
                    carrer_id: null,
                    remove_keyword: "",
                    method: ""
                }
            }
        }
    };
</script>