<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <input type="text" v-model="search.name" placeholder="Tên công việc" class="form-control">
                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-2">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>#ID</th>
                            <th width="20%">Tên Cty</th>
                            <th>SDT</th>
                            <th width="30%">Địa chỉ</th>
                            <th>Website</th>
                            <th>Ngày tạo</th>
                            <th width="10%">Thao tác</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.id}}</td>
                            <td>
                                {{item.name}}
                            </td>
                            <td>{{item.phone}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.website}}</td>
                            <td>{{item.created_at}}</td>
                            <td>
                                <button @click="editCompany(item.id)" class="btn btn-sm btn-info btn-flat"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-sm btn-warning btn-flat"><i class="fa fa-fw fa-mail-forward"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-md-4" style="margin-top: 20px">
                        <div class="form-inline">
                            <label class="control-label">Hiển thị </label>
                            <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                <option value="10">10 hàng</option>
                                <option value="25">25 hàng</option>
                                <option value="50">50 hàng</option>
                                <option value="100">100 hàng</option>
                            </select>
                            <label>
                                {{showInfoPagination()}}
                            </label>
                        </div>
                    </div>
                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-8">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="fetch(params.data.prev_page_url)">
                                            <i class="fa fa-angle-double-left"></i></a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="fetch(params.data.next_page_url)">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    import {ModelSelect} from 'vue-search-select'

    export default {
        components: {
            ModelSelect
        },

        data() {
            return {
                params: {
                    data: '',
                    provinces: [],
                    industrial_zone: [],
                },
                search: {
                    name: '',
                    province_id: '',
                    per_page: 25,
                    industrial_zone_id:''
                },
                offset: 4,
                userID: window.TraiThiVang.user.id,
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from < to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
            this.fetchProvince();
            this.fetchIndustrialZone();
        },
        methods: {
            fetch(url) {
                url = url || '/api/crawl/company';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            fetchProvince(url) {
                url = url || "/api/crawl/province";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.provinces = response.data.data;
                    });
            },
            fetchIndustrialZone(url) {
                url = url || "/api/crawl/industrial-zone";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.industrial_zone = response.data.data;
                    });
            },
            showInfoPagination: function () {
                return this.params.data.from + '-' + this.params.data.to + ' trong số ' + this.params.data.total;
            },
            endDateFormat: function (date) {
                return moment(date, 'YYYY-MM-DD h:i:s').format('DD-MM-YYYY');
            },
            editCompany: function (id) {
                window.location.href = '/crawl/edit-company/' + id;
            }
        }
    }
</script>
