<template>
    <div class="row">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Thông tin tuyển dụng</h3>
            </div>
            <div class="form-horizontal">
                <div class="col-xs-10">
                    <br>
                    <div class="form-group">
                        <label for="job_title" class="col-sm-3 control-label">Vị trí tuyển dụng</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="job_title" v-model="article.job_title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="carrer" class="col-sm-3 control-label">Ngành nghề</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="carrer" v-model="article.carrer">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="number" class="col-sm-3 control-label">Số lượng cần tuyển</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="number" v-model="article.number">
                        </div>
                        <label for="gender" class="col-sm-3 control-label">Giới tính</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="gender" v-model="article.gender">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="job_type" class="col-sm-3 control-label">Hình thức làm việc</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="job_type" v-model="article.job_type">
                        </div>
                        <label for="job_level" class="col-sm-3 control-label">Trình độ</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="job_level" v-model="article.job_level">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="job_experience" class="col-sm-3 control-label">Kinh nghiệm</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="job_experience"
                                   v-model="article.job_experience">
                        </div>
                        <label for="salary" class="col-sm-3 control-label">Mức lương</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="salary" v-model="article.salary">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field" class="col-sm-3 control-label">Lĩnh vực</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="field" v-model="article.field">
                        </div>
                        <label for="position" class="col-sm-3 control-label">Vị trí</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="position" v-model="article.position">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ended_at" class="col-sm-3 control-label">Hạn nộp</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="ended_at" v-model="article.ended_at">
                        </div>
                        <label class="col-sm-3 control-label">Tỉnh thành</label>
                        <div class="col-sm-3">
                            <model-select :options="params.provinces"
                                          v-model="article.province_id"
                                          placeholder="Tỉnh thành">
                            </model-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Quận huyện</label>
                        <div class="col-sm-3">
                            <select v-model="article.district_id" class="form-control">
                                <option value="">Quận huyện</option>
                                <option v-for="item in params.districts"
                                        v-if="item.province_id === article.province_id" :value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                        <label class="col-sm-3 control-label">Khu công nghiệp</label>
                        <div class="col-sm-3">
                            <select v-model="article.industrial_zone_id" class="form-control">
                                <option value="">Khu công nghiệp</option>
                                <option v-for="item in params.industrial_zone"
                                        v-if="item.province_id === article.province_id" :value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mô tả công việc</label>
                        <div class="col-sm-9">
                            <vue-tinymce v-model="article.job_description" v-bind:data="article.job_description"
                                         height="250"
                                         ></vue-tinymce>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Yêu cầu công việc</label>
                        <div class="col-sm-9">
                            <vue-tinymce v-model="article.job_requirement" v-bind:data="article.job_requirement"
                                         height="250"
                                         ></vue-tinymce>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Quyền lợi được hưởng</label>
                        <div class="col-sm-9">
                            <vue-tinymce v-model="article.job_benefit" v-bind:data="article.job_benefit" height="250"
                                         ></vue-tinymce>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Yêu cầu hồ sơ</label>
                        <div class="col-sm-9">
                            <vue-tinymce v-model="article.job_cv" v-bind:data="article.job_cv" height="250"
                                         ></vue-tinymce>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="col-md-10">
                    <div class="box-header with-border">
                        <h3 class="box-title text-danger">Thông tin liên hệ</h3>
                    </div>
                    <div class="form-group">
                        <label for="company_name" class="col-sm-3 control-label">Tên công ty</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="company_name" v-model="company.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_name" class="col-sm-3 control-label">Tên người liên hệ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="contact_name"
                                   v-model="company.contact_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="contact_email"
                                   v-model="company.contact_email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Địa chỉ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="address" v-model="company.address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">Điện thoại</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="phone" v-model="company.contact_phone">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button @click="onSubmit()" type="button" class="btn btn-danger center">Cập nhật</button>
                        <button @click="publishSite()" type="button" class="btn btn-success center">Xuất bản</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {ModelSelect} from 'vue-search-select'

    export default {
        components: {
            ModelSelect
        },

        data() {
            return {
                params: {
                    data: '',
                    provinces: [],
                    districts: [],
                    industrial_zone: [],
                },
                article: window.article,
                company: window.company,
                userID: window.TraiThiVang.user.id,
            };
        },
        computed: {},
        mounted() {
            this.fetchProvince();
            this.fetchDistrict();
            this.fetchIndustrialZone();
        },
        methods: {
            publishSite: function () {
                if (this.company.contact_phone === null) {
                    this.$notify("alert", "Nhập số điện thoại liên hệ và cập nhật!", 'error');
                    return false;
                }
                window
                    .axios({
                        method: "post",
                        url: "/api/crawl/publish-job",
                        data: this.article
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            onSubmit: function () {
                //ko co sde lien he ko cho submit
                if (this.company.contact_phone === null) {
                    this.$notify("alert", "Nhập số điện thoại liên hệ!", 'error');
                    return false;
                }
                window
                    .axios({
                        method: !this.article.id ? "post" : "put",
                        url: !this.article.id ? "/api/crawl/create-job" : "/api/crawl/update-job",
                        data: {article: this.article, company: this.company}
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            fetchProvince(url) {
                url = url || "/api/crawl/province";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.provinces = response.data.data;
                    });
            },
            fetchDistrict(url) {
                url = url || "/api/crawl/district";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.districts = response.data.data;
                    });
            },
            fetchIndustrialZone(url) {
                url = url || "/api/crawl/industrial-zone";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.industrial_zone = response.data.data;
                    });
            },
            endDateFormat: function (date) {
                return moment(date, 'YYYY-MM-DD h:i:s').format('DD-MM-YYYY');
            }
        }
    }
</script>
