<template>
    <div class="row">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Thông tin công ty</h3>
            </div>
            <div class="form-horizontal">
                <div class="col-xs-10">
                    <br>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Tên công ty</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" v-model="company.name">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">Số điện thoại</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="phone" v-model="company.phone">
                        </div>
                        <label for="scale" class="col-sm-3 control-label">Quy mô</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="scale" v-model="company.scale">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Địa chỉ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="address" v-model="company.address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tỉnh thành</label>
                        <div class="col-sm-3">
                            <model-select :options="params.provinces"
                                          v-model="company.province_id"
                                          placeholder="Tỉnh thành">
                            </model-select>
                        </div>
                        <label class="col-sm-3 control-label">Quận huyện</label>
                        <div class="col-sm-3">
                            <select v-model="company.district_id" class="form-control">
                                <option value="">Quận huyện</option>
                                <option v-for="item in params.districts"
                                        v-if="item.province_id === company.province_id" :value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Khu công nghiệp</label>
                        <div class="col-sm-3">
                            <select v-model="company.industrial_zone_id" class="form-control">
                                <option value="">Khu công nghiệp</option>
                                <option v-for="item in params.industrial_zone"
                                        v-if="item.province_id === company.province_id" :value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                        <label for="website" class="col-sm-3 control-label">Website</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="website" v-model="company.website">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mô tả</label>
                        <div class="col-sm-9">
                            <vue-tinymce v-model="company.description" v-bind:data="company.description" height="300"
                                         ref="textMCE"></vue-tinymce>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="col-md-10">
                    <div class="box-header with-border">
                        <h3 class="box-title text-danger">Thông tin liên hệ</h3>
                    </div>
                    <div class="form-group">
                        <label for="contact_name" class="col-sm-3 control-label">Người liên hệ</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="contact_name" v-model="company.contact_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_email" class="col-sm-3 control-label">Email liên hệ</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="contact_email"
                                   v-model="company.contact_email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_phone" class="col-sm-3 control-label">Điện thoại liên hệ</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="contact_phone" v-model="company.contact_phone">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button @click="onSubmit()" type="button" class="btn btn-danger center">Cập nhật</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {ModelSelect} from 'vue-search-select'

    export default {
        components: {
            ModelSelect
        },

        data() {
            return {
                params: {
                    data: '',
                    provinces: [],
                    districts: [],
                    industrial_zone: [],
                },
                company: window.company,
                userID: window.TraiThiVang.user.id,
            };
        },
        computed: {},
        mounted() {
            this.fetchProvince();
            this.fetchDistrict();
            this.fetchIndustrialZone();
        },
        methods: {
            onSubmit: function () {
                window
                    .axios({
                        method: !this.company.id ? "post" : "put",
                        url: !this.company.id ? "/api/crawl/create-company" : "/api/crawl/update-company",
                        data: {company: this.company}
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            window.location.href = '/crawl/company';
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            fetchProvince(url) {
                url = url || "/api/crawl/province";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.provinces = response.data.data;
                    });
            },
            fetchDistrict(url) {
                url = url || "/api/crawl/district";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.districts = response.data.data;
                    });
            },
            fetchIndustrialZone(url) {
                url = url || "/api/crawl/industrial-zone";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.industrial_zone = response.data.data;
                    });
            },
            endDateFormat: function (date) {
                return moment(date, 'YYYY-MM-DD h:i:s').format('DD-MM-YYYY');
            }
        }
    }
</script>
