<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <input type="text" v-model="search.name" placeholder="Tên công việc" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <select v-model="search.is_publish" class="form-control">
                                <option value="no">Chưa xuất bản</option>
                                <option value="yes">Đã xuất bản</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <model-select :options="params.provinces"
                                          v-model="search.province_id"
                                          placeholder="Tỉnh thành">
                            </model-select>
                        </div>
                        <div class="col-md-3">
                            <model-select :options="params.industrial_zone"
                                          v-model="search.industrial_zone_id"
                                          placeholder="Khu Công Nghiệp">
                            </model-select>
                        </div>
                        <div class="col-md-2">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>
                                #ID
                            </th>
                            <th width="25%">Tỉnh -Tên CV - Công ty</th>
                            <th class="text-center">Hạn nộp/Lương</th>
                            <th>Ngày tạo</th>
                            <th class="text-center">SiteClient</th>
                            <th>Xuất bản</th>
                            <th width="25%">Ngành nghê/Từ khóa</th>
                            <th>
                                <!--<button @click="publishSite(false,0)" class="btn bg-purple btn-flat">-->
                                    <!--<i class="fa fa-fw fa-mail-forward"></i>-->
                                    <!--Xuất bản-->
                                <!--</button>-->
                            </th>
                        </tr>
                        <tr v-for="(item,idx) in params.data.data">
                            <td>{{item.id}}</td>
                            <td>
                                <span class="label label-info">{{item.province_name}}</span> {{item.job_title}}
                                <p class="text-muted"><a target="_blank" :href="'/crawl/edit-company/' + item.company.id">{{item.company.name}}</a></p>
                                {{item.field}}
                                <p class="text-muted">{{item.carrer}}</p>
                            </td>
                            <td class="text-center">{{endDateFormat(item.ended_at)}}
                                <p class="text-muted">{{item.salary}}</p>
                            </td>
                            <td>{{endDateFormat(item.created_at)}}</td>
                            <td>
                                <ul style="height: 100px; overflow-y: scroll;">
                                    <li v-for="i in item.site_client">{{i.slug}}</li>
                                </ul>
                            </td>
                            <td>
                                <span v-if="item.publisher_id" class="label label-info">OK</span>
                                <span v-else class="label label-danger">NOT OK</span>
                            </td>
                            <td>
                                <model-select :options="params.carrers"
                                              v-model="item.carrer_id"
                                              placeholder="Chuyên mục">
                                </model-select>
                                <br>
                                <model-select :options="params.keywords"
                                              v-model="item.tag"
                                              placeholder="Từ khóa">
                                </model-select>
                            </td>
                            <td>
                                <button @click="publishSite(item,idx)" class="btn btn-sm btn-warning btn-flat">
                                    <i class="fa fa-fw fa-mail-forward"></i> Xuất bản
                                </button>
                                <a target="_blank" :href="'/crawl/edit-job/' + item.id">
                                    <button class="btn btn-sm btn-info btn-flat">
                                        <i class="fa fa-edit"></i> Sửa
                                    </button>
                                </a>
                                <button @click="deleteJob(item.id, idx)" class="btn btn-sm btn-danger btn-flat">
                                    <i class="fa fa-times-circle"></i> Xóa
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-md-4" style="margin-top: 20px">
                        <div class="form-inline">
                            <label class="control-label">Hiển thị </label>
                            <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                <option value="10">10 hàng</option>
                                <option value="25">25 hàng</option>
                                <option value="50">50 hàng</option>
                                <option value="100">100 hàng</option>
                            </select>
                            <label>
                                {{showInfoPagination()}}
                            </label>
                        </div>
                    </div>
                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-8">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="fetch(params.data.prev_page_url)">
                                            <i class="fa fa-angle-double-left"></i></a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="fetch(params.data.next_page_url)">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    import {ModelSelect} from 'vue-search-select';
    import {MultiSelect} from 'vue-search-select';

    export default {
        components: {
            ModelSelect,
            MultiSelect
        },
        data() {
            return {
                params: {
                    data: '',
                    provinces: [],
                    industrial_zone: [],
                    keywords: [],
                    carrers: []
                },
                search: {
                    name: '',
                    province_id: '',
                    per_page: 10,
                    industrial_zone_id: '',
                    is_publish: 'no'
                },
                offset: 4,
                userID: window.TraiThiVang.user.id
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from < to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
            this.fetchProvince();
            this.fetchIndustrialZone();
            this.fetchKeywords();
            this.fetchCarrers();
        },
        methods: {
            publishSite: function (item,idx) {
                if (item.company.contact_phone === null) {
                    this.$notify("alert", "Nhập số điện thoại liên hệ và cập nhật!", 'error');
                    return false;
                }
                if (item) {
                    if (!item.carrer_id) {
                        this.$notify("alert", "Vui lòng chọn chuyên mục", 'error');
                        return false;
                    }
                }
                window
                    .axios({
                        method: "post",
                        url: "/api/crawl/publish-job",
                        data: item
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            if(item){
                                this.params.data.data.splice(idx, 1);
                            }else {
                                this.fetch();
                            }
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            deleteJob: function (id, idx) {
                window
                    .axios({
                        method: "delete",
                        url: "/api/crawl/delete-job/" + id
                    })
                    .then(response => {
                        if (response.data.status == "success") {
                            this.params.data.data.splice(idx, 1);
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            fetch(url) {
                url = url || '/api/crawl';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            fetchCarrers(url) {
                url = url || "/api/crawl/carrers";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.carrers = response.data.data;
                    });
            },
            fetchKeywords(url) {
                url = url || '/api/crawl/keywords';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.keywords = response.data.data;
                });
            },
            fetchProvince(url) {
                url = url || "/api/crawl/province";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.provinces = response.data.data;
                    });
            },
            fetchIndustrialZone(url) {
                url = url || "/api/crawl/industrial-zone";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.industrial_zone = response.data.data;
                    });
            },
            showInfoPagination: function () {
                return this.params.data.from + '-' + this.params.data.to + ' trong số ' + this.params.data.total;
            },
            endDateFormat: function (date) {
                return moment(date, 'YYYY-MM-DD h:i:s').format('DD-MM-YYYY');
            }
        }
    }
</script>

