<template>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-plus-square"></i> Thêm Site Crawl</h3>
                </div>
                <div class="box-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputName">Tên site crawl</label>
                            <input type="text" class="form-control" id="inputName" v-model="sitecrawler.name"
                                   placeholder="Tên">
                        </div>
                        <div class="form-group">
                            <label for="inputUrl">Url site</label>
                            <input type="email" class="form-control" id="inputUrl" v-model="sitecrawler.slug"
                                   placeholder="Địa chỉ Url">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button @click="onSubmit()" type="submit"
                                class="btn btn-success btn-flat pull-right">
                            <span v-if="!sitecrawler.id"> Tạo mới</span>
                            <span v-else>Cập nhật</span>
                        </button>
                        <button v-on:click.prevent="setNullSite" type="reset" class="btn btn-danger btn-flat pull-left">
                            <span>Hủy</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-internet-explorer"></i> Danh sách Site Crawl</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>#ID</th>
                            <th>Tên</th>
                            <th>URL</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr v-for="item in params.data">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.slug}}</td>
                            <td v-html="showStatus(item.is_active)"></td>
                            <td>
                                <button @click="editSite(item)" class="btn btn-sm btn-info btn-flat"><i
                                        class="fa fa-edit"></i></button>
                                <button @click="updateStatus(item,0)" class="btn btn-sm btn-danger btn-flat" v-if="item.is_active === 1"><i
                                        class="fa fa-times-circle"></i></button>
                                <button @click="updateStatus(item,1)" class="btn btn-sm btn-success btn-flat" v-if="item.is_active === 0"><i
                                        class="fa fa-check"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                params: {
                    data: '',
                },
                sitecrawler: {
                    'name': '',
                    'slug': ''
                },
                userID: window.TraiThiVang.user.id,
            };
        },
        computed: {},
        mounted() {
            this.fetch();
        },
        methods: {
            fetch(url) {
                url = url || '/api/crawl/site-crawler';
                window.axios.get(url).then(response => {
                    this.params.data = response.data.data;
                });
            },
            formatErrMessage(err) {
                let msg = "";
                let errorArray = window._.flatMapDepth(err.errors);
                errorArray.forEach(function (item) {
                    msg += item;
                });
                return msg;
            },
            updateStatus: function (item,status) {
                this.sitecrawler = item;
                this.sitecrawler.is_active = status;
                this.onSubmit();
            },
            onSubmit: function () {
                if (this.sitecrawler.name.trim() === '') {
                    this.$notify("alert", "Chưa nhập tên site crawler", 'error');
                    return false;
                }
                if (this.sitecrawler.slug.trim() === '') {
                    this.$notify("alert", "Chưa nhập đường dẫn site crawler", 'error');
                    return false;
                }
                window
                    .axios({
                        method: !this.sitecrawler.id ? "post" : "put",
                        url: !this.sitecrawler.id ? "/api/crawl/create-site-crawler" : "/api/crawl/update-site-crawler",
                        data: this.sitecrawler
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            this.setNullSite();
                            this.fetch();
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = this.formatErrMessage(error.response.data);
                            this.$notify("alert", errMsg, "error");
                        }
                    });
            },
            editSite: function (item) {
                this.sitecrawler = item;
            },
            showStatus(value) {
                if (value == 1) {
                    return '<i class="fa fa-check text-green"></i>';
                }
                return '<i class="fa fa-times-circle text-red"></i>';
            },
            setNullSite: function () {
                this.sitecrawler = {
                    name: '',
                    slug: ''
                }
            }
        }
    }
</script>
