<template>
    <div>
        <div class="mytoolbar"></div>
        <div class="tinyMCE" ref="WysigEditor"></div>
    </div>
</template>
<style scoped>
@import url('//cdnjs.cloudflare.com/ajax/libs/tinymce/4.6.3/skins/lightgray/skin.min.css');
@import url('//cdnjs.cloudflare.com/ajax/libs/tinymce/4.6.3/skins/lightgray/content.min.css');
</style>
<script>
// Import TinyMCE
    import tinymce from 'tinymce/tinymce'
// A theme is also required
import 'tinymce/themes/modern/theme'

export default{
    data () {
        return {
            content: '',
            editor: '',
        }
    },
    props: {
        data: {
            required: false,
            type: String
        },
        height: {
            required: false,
            default: 700
        },
        width: {
            required: false,
            default: 1003
        }
    },
    computed:{
        word_count: function(){
            return this.editor.activeEditor.plugins.wordcount.getCount();
        }
    },
    mounted () {
        this.initJS();
        this.$root.$on('insertMedia', function(value){
            // console.log(value);
            let self = this.$refs.createNews.$refs.textMCE;
            self.editor.activeEditor.execCommand('mceInsertContent', false, self.buildImgHtml(value));
        });
    },
    methods:{
        initJS: function(){
            this.$nextTick(function () {
                let self = this;
                tinyMCE.baseURL = "/vendor/tinymce";
                tinymce.init({
                    entity_encoding : "raw",
                    font_formats: 'Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;AkrutiKndPadmini=Akpdmi-n',
                    image_caption: true,
                    target: self.$refs.WysigEditor,
                    height: self.height,
                    // width: self.width,
                    skin: false,
                    plugins: [
                        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                        'searchreplace wordcount visualblocks visualchars code fullscreen',
                        'insertdatetime nonbreaking save directionality',
                        'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help'
                    ],
                    theme_advanced_buttons3_add : "tablecontrols",
                    table_default_styles: {
                        width: '100%',
                        'border-color': '#696969'
                    },
                    table_default_border: 1,
                    // inline: true,
                    fixed_toolbar_container: '.mytoolbar',
                    // contextmenu: "copy cut paste | link deletetable",
                    contextmenu_never_use_native: true,
                    toolbar1: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent link',
                    toolbar2: 'print  | forecolor backcolor emoticons | codesample help',
                    setup: function (editor) {
                        editor.on('NodeChange Change keyup', function () {
                            self.content = this.getContent()
                            self.$emit('input', self.content)
                            self.$emit('change', self.content)
                        })
                        editor.on('init', function () {
                            this.setContent(self.data)
                            this.execCommand('justifyfull')
                            self.content = this.getContent()
                            self.$emit('input', self.content)
                        })
                    }
                });
                this.editor = tinymce;
            })
        },
        buildImgHtml: function(media_arr){
            let html = '';
            media_arr.forEach(function(item){
                html += "<p style=\"text-align: center;\">";
//                html += '<table border="0" cellspacing="0" cellpadding="0" align="center" style="background-color: #f2f2f2;">';
                if(item.media_type === 'image'){
                    let img_url = '';
                    if(item.orientation === 'landscape'){
                        if(item.width > 640){
                            let tmp = item.file_url.split('.');
                            img_url += tmp[0] + '-640x480.png';
                        }else {
                            img_url = item.file_url;
                        }
                    }else{
                        img_url += item.file_url;
                    }
                    html += '<figure class="image" style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="' + img_url + '" alt="'+ item.alt + '" data-natural-width="640" data-width="640" data-pwidth="500" />';
                    html += '<figcaption><em>';
                    if(item.caption !== null){
                        html += item.caption;
                    }else{
                        html += 'Chọn mô tả';
                    }
                    html += '</em></figcaption></figure>';
                }else if (item.media_type === 'video'){
                    html += '<table border="0" cellspacing="0" cellpadding="0" align="center" style="background-color: #f2f2f2;">';
                    let img_poster = item.thumbnail.replace("200x200", "640x480");
                    html += "<tbody><tr><td><div><video poster=\"" + img_poster + "\" style=\"display: block; margin-left: auto; margin-right: auto;\" controls=\"controls\" width=\"640\" height=\"360\">";
                    html += "<source src=\"" + item.file_url + "\" type=\"video\/mp4\"/><\/video></div></td></tr>";
                    html += '<tr><td><p class="Image" style="text-align: center;"><em>';
                    if(item.caption !== null){
                        html += item.caption;
                    }else{
                        html += 'Chọn mô tả';
                    }
                    html += '</em></p></td></tr>';
                    html += '</tbody></table>';
                }else if(item.media_type === 'docs'){
                    // docs
                }
//                html += '</tbody></table>';
                html += "<\/p>";
            });
            return html;
        }
    },
    beforeDestroy: function(){
        tinymce.remove()
    }
}
</script>

<style>
body.mceContentBody p{
    text-align: justify !important;
}

</style>
