<template>
    <div class="row">
        <modal style="top: 50px" transition="nice-modal-fade"
               :scrollable="true"
               :pivot-y="0.5"
               width="60%"
               height="auto"
               :adaptive="true"
               name="modal-upload-media"
               @shown="">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-plus-square"></i> Tải lên thư viện
                    </h3>
                </div>
                <div class="box-body">
                    <dropzone id="vueDropzone" ref="vueDropzone" url="/api/media" :headers="custom_headers"
                              :thumbnailHeight=120
                              :thumbnailWidth=120 :useFontAwesome=true :maxNumberOfFiles=20 :maxFileSizeInMB=128
                              :timeout=300000
                              :resizeWidth=1024 :acceptedFileTypes="'image/*,video/mp4'">
                    </dropzone>
                    <span class="text-danger">
                         <i class="fa fa-info"></i>
                        Chỉ cho phép upload các định dạng sau: Ảnh: (png, jpg, jpeg). Video (mp4)
                    </span>
                    <div class="box-footer">
                        <button @click="fetch('/api/media')" type="submit" class="btn btn-success btn-flat pull-right">
                            <span> Ok</span>
                        </button>
                        <button v-on:click.prevent="setNullQuestion" type="reset"
                                class="btn btn-danger btn-flat pull-left">
                            <span>Hủy</span>
                        </button>
                    </div>
                </div>
            </div>
        </modal>
        <modal style="top: 50px" transition="nice-modal-fade"
               :scrollable="true"
               :pivot-y="0.5"
               width="60%"
               height="auto"
               :adaptive="true"
               name="modal-select-media"
               @shown="">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-plus-square"></i> Tải lên thư viện
                    </h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <input type="text" placeholder="Tên ảnh/video" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control">
                                            <option v-for="item in media_type" v-bind:value="item.value">{{ item.text}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                            <i class="fa fa-search"> Tìm kiếm</i>
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button @click="show()" class="btn btn-block btn-danger">
                                            <i class="fa fa-cloud-upload"></i> Upload
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button @click="chooseMedia()" class="btn btn-block btn-dark">
                                            <i class="fa fa-angle-double-right"></i> Chọn
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="row">
                                <div v-for="(item, idx) in params.data.data" class="text-center item-media col-md-3">
                                    <img :title="item.alt" :alt="item.alt"
                                         v-bind:src="item.thumbnail ? item.thumbnail : '/img/placeholder_640x360.jpg'"
                                         v-model="params.data.data[idx]"
                                         v-bind:class="hasSelect(item) !== -1 ? 'img-fluid item-selected' : 'img-fluid'"
                                         v-on:click="selectImage(item, $event)"/>

                                    <template v-if="item.media_type === 'video'">
                                <span class="play-icon">
                                    <i class="fa fa-4x fa-play-circle-o"></i>
                                </span>
                                    </template>
                                    <button v-if="hasSelect(item) !== -1" type="button" class="button-link check"
                                            tabindex="0"
                                            v-model="params.data.data[idx]" v-on:click="selectImage(item, $event)">
                                <span class="media-icon">
                                    <i ref="checkIcon" class="fa fa-check" style="color: #fff !important;"></i>
                                </span>
                                    </button>
                                </div>
                                <template
                                        v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                                    <div class="col-md-6" style="margin-top: 20px">
                                        <div class="form-inline">
                                            <label class="control-label">Hiển thị </label>
                                            <label>
                                                {{showInfoPagination()}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <nav aria-label="Page navigation" class="pull-right">
                                            <ul class="pagination">
                                                <li v-model="params.data.prev_page_url"
                                                    v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                                    <a class="page-link" href="javascript:void(0);"
                                                       v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                                        <i class="fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>

                                                <li v-for="page in pagesNumber"
                                                    :class="{'active': page == params.data.current_page}">
                                                    <a href="javascript:void(0);"
                                                       v-on:click="fetch(params.data.path + '?page=' +page)">{{ page
                                                        }}</a>
                                                </li>

                                                <li v-model="params.data.next_page_url"
                                                    v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                                    <a class="page-link" href="javascript:void(0);"
                                                       v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Tin tức</h3>
            </div>
            <div class="form-horizontal">
                <div class="col-xs-8">
                    <br>
                    <div class="form-group">
                        <label for="job_title" class="col-sm-3 control-label">Tiêu đề</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="job_title" v-model="news.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="job_title" class="col-sm-3 control-label">Mô tả</label>
                        <div class="col-sm-9">
                             <textarea type="text" class="form-control" placeholder="Mô tả" rows="5"
                                       v-model="news.description" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nội dung</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="background: rgb(240, 240, 240); padding: 5px 10px; border-top: 1px solid rgba(0, 0, 0, 0.2); border-left: 1px solid rgba(0, 0, 0, 0.2); border-right: 1px solid rgba(0, 0, 0, 0.2); margin-right: -2px;">
                                        <button class="btn btn-danger" v-on:click="selectMedia('insertMedia')">
                                            <i class="fa fa-image"></i> Chèn ảnh
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <vue-tinymce v-model="news.body" v-bind:data="news.body" ref="textMCE"></vue-tinymce>
                        </div>
                    </div>

                </div>
                <div class="col-xs-4">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Ảnh thumb</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#pick-thumbnail" @click="selectMedia(true)">
                                        <img class="img-fluid"
                                             :src="news.thumb ? (news.thumb) : '/img/placeholder-image.png'"
                                             v-model="news.thumb"/>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Chuyên mục</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <model-select :options="params.categories"
                                                  v-model="news.category_id"
                                                  placeholder="Chuyên mục">
                                    </model-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Từ khóa</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tags">
                                        <vue-tags-input
                                                v-model="tag"
                                                :tags="tags"
                                                :autocomplete-items="filteredItems"
                                                @tags-changed="newTags => tags = newTags">
                                        </vue-tags-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="col-md-10">
                    <div class="form-group text-center">
                        <button @click="onSubmit()" type="button" class="btn btn-danger center">Tạo tin tức</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {ModelSelect} from 'vue-search-select';
    import Dropzone from 'vue2-dropzone';
    import VueTagsInput from '@johmun/vue-tags-input';

    export default {
        components: {
            ModelSelect,
            Dropzone,
            VueTagsInput
        },

        data() {
            return {
                is_select_thumb: true,
                params: {
                    data: '',
                    categories: [],
                },
                news: {
                    title: '',
                    description: '',
                    body: '',
                    category_id: '',
                    thumb: ''
                },
                company: {},
                userID: window.TraiThiVang.user.id,
                media_type: [
                    {text: 'Vui lòng chọn', value: ''},
                    {text: 'Ảnh', value: 'image'},
                    {text: 'Video', value: 'video'}
                ],
                selectedImage: [],
                editMedia: {},
                offset: 2,
                custom_headers: {
                    'Authorization': 'Bearer ' + window.TraiThiVang.user.api_token,
                    'AuthenticatedUser': window.TraiThiVang.user.id
                },
                select_thumbnail: 'thumbnail',
                tag: '',
                tags: [],
                autocompleteItems: [{
                    text: 'Spain',
                }, {
                    text: 'France',
                }, {
                    text: 'USA',
                }, {
                    text: 'Germany',
                }, {
                    text: 'China',
                }]
            };
        },
        computed: {
            filteredItems() {
                return this.autocompleteItems.filter(i => new RegExp(this.tag, 'i').test(i.text));
            },
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetchCategory();
            this.fetch('/api/media');
        },
        methods: {
            fetch: function (url) {
                url = url || "/api/media";
                window.axios
                    .get(url, {
                        params: this.search
                    })
                    .then(response => {
                        this.params.data = response.data.data;
                    });
                this.hide();
            },
            selectMedia: function (is_select_thumb) {
                this.select_thumbnail = is_select_thumb;
                // this.$refs.finder.removeSelection();
                this.$modal.show('modal-select-media');
            },
            show() {
                this.$modal.hide('modal-select-media');
                this.$modal.show('modal-upload-media');
            },
            hide() {
                this.$modal.hide('modal-upload-media');
            },
            onSubmit: function () {
                //ko co sde lien he ko cho submit
                if (this.news.title === '') {
                    this.$notify("alert", "Bạn chưa nhập tiêu đề!", 'error');
                    return false;
                }
                if (this.news.category_id === null) {
                    this.$notify("alert", "Bạn chưa chọn chuyên mục!", 'error');
                    return false;
                }
                if (this.news.carrer_id === null) {
                    this.$notify("alert", "Bạn chưa nhập mô tả!", 'error');
                    return false;
                }

                window
                    .axios({
                        method: !this.news.id ? "post" : "put",
                        url: !this.news.id ? "/api/news/create" : "/api/news/update",
                        data: this.news
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            fetchCategory(url) {
                url = url || "/api/news/category";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.categories = response.data.data;
                    });
            },

            hasSelect: function (item) {
                return this.selectedImage.indexOf(item);
            },
            selectImage: function (item, event) {
                this.selectedFile = [];
                let index = this.hasSelect(item);
                if (index !== -1) {
                    this.selectedImage.splice(index, 1);
                    this.editMedia = {};
                } else {
                    this.selectedImage = [item];
                    this.editMedia = item;
                }

            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            chooseMedia: function () {
                if (this.select_thumbnail === "thumbnail") {
                    this.news.thumb = this.selectedImage[0].file_url;
                } else {
                    this.$root.$emit('insertMedia', this.selectedImage);
                }
                this.$modal.hide('modal-select-media');
            },
        }
    }
</script>
<style>
    .card-footer ul li {
        display: inline-block;
        padding: 0px;
        text-align: center;
    }

    #composite-image img {
        max-width: 480px;
        height: auto;
    }

    .play-icon {
        position: absolute;
        top: 15%;
        left: 40%;
        color: #fff;
    }

    .text-sm {
        font-size: 12px;
    }

    @media (min-width: 1366px) {
        .list-media {
            height: 400px !important;
        }
    }

    @media (min-width: 1600px) {
        .list-media {
            height: 500px !important;
        }
    }

    /* @media (min-width: 1920px) {
        .list-media {
            height: 570px !important;
        }
    }

    @media (max-width: 2550px){
        .list-media {
            height: 710px !important;
        }
    } */

    .bg-secondary {
        background: #dfdfdf;
    }

    .dz-message {
        font-size: 30px;
    }

    .edit-item {
        overflow-y: scroll;
        height: 400px;
    }

    img {
        width: 100%;
    }

    .item-selected {
        padding: 1px 1px;
        border: 4px solid #20a8d8;
    }

    .button-link {
        background-color: #0073aa;
        position: absolute;
        top: -10px;
        right: 10px;
        width: 30px;
    }

    .tags .content {
        min-height: auto;
        padding: 5px;
    }

</style>